*{
    outline: none;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow-x:hidden;
    min-width: 320px;
    color: #252a34;
    font-family: 'Recursive', sans-serif;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
h1,h2,h3,h4,h5,h6{
  margin: 0%;
}
.pre-header{
    background-color: #f5f5f5;
}
.pre-header img{
    width: 30px;
}
.pre-header .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 30px;
    padding: 0 1%;
    height: 100%;
}
.time .h{
    display: flex;
    flex-direction: column;
}
.h p{
    margin: 0;
}
.pre-header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .4%;
}
.tel a, .mail a, .media a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: .1em 0;
    white-space: nowrap;
}
.tel, .mail, .media{
    border-radius: 30px;
    padding: 0 1%;
}
.pre-footer{
    display: none;
    font-size: .6em;
}
.pre-footer img{
    width: 30px;
}
.pre-footer .time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 0 1%;
}
.pre-footer .wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: .4%;
}
header{
    background-color: white;
}
header .wrapper{
    display: flex;
    position: sticky;
  top: 0;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 15px 0px 15px;
}
.logo{
    flex: 1;
    color: #000;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo img{
    display: block;
    width: 80px;
    margin-right: 10px;
}
a.logo{
    display: flex;
    text-decoration: none;
}
a.logo:hover, a.logo:active{
    text-decoration: none;
}
ul.menu{
    flex: 2;
    padding: 1%;
    display: flex;
    align-items: center;
    margin: 0%;
}
ul.menu li{
    border: 3px solid transparent;
    list-style: none;
}
ul.menu li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    padding: .6em;
    background-color: #fff;
}
ul.menu li a:hover{
    border-bottom: 3px solid #ff2e63;
}
.mobile-bar{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  margin-right: 5%;
  transition: all .8s;
  border-radius: 10px;
}
.mobile-bar span{
  display: block;
  height: 2px;
  width: 20px;
  margin: .2em;
  background-color: black;
}
.mobile-bar.active{
  transform: rotate(90deg);
}
.mobile-bar.active span{
  background-color: #000;
}
.toggleMenuArea{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
}
.toggleMenu {
  background-color: #fff;
  border: 3px solid #fa73ab;
  z-index: 2;
  margin: .5% 2%;
  padding: 0;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transform: translate(0px,-100%);
  transition: all 0.8s ease 0s;
}
.toggleMenu ul li{
  list-style: none;
  color: #000;
  font-size: 1em;
}
.toggleMenu ul{
  letter-spacing: 2px;
  margin:0px;
  list-style: none;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.toggleMenu a {
  padding: 1em;
  color: #fff;
  text-decoration: none;
  border: 3px solid transparent;
  transition: all .1s;
  display: flex;
  flex: 1 1 auto;
}
.toggleMenu a:hover, .toggleMenu a:active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  transition: all 0.5s;
}
.toggleMenu a::hover, .toggleMenu a::active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  border-top: 3px solid #ff2e63;
  transition: all 0.5s;
}
.toggleMenuArea.active{
  opacity: 1;
  visibility: visible;
}
.toggleMenu.active{
  opacity: 1;
  visibility: visible;
  transform: translate(0px,0px);
}


main .wrapper{
    display: flex;
    justify-content: space-between;
}

section.main{
    padding: 0.1% 1%;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.news, .hi-block{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 3%;
    border-radius: 10px;
}
.hi-block{
    text-align: center;
  }
.news .new , .hi{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.news .new .new-title, .hi-title{
    font-size: 1.2em;
    display: flex;
    flex: 1 1 auto;
    border-bottom: 2px solid #08d9d6;
    font-weight: bold;
    padding-bottom: 1%;
    color: #ff2e63;
}
.hi-title{
    justify-content: center;
    margin-bottom: 1%;
}
.news .new .new-info, .hi-info{
    font-size: 1.2em;
    margin-bottom: 1%;
    font-weight: bold;
}
.news .new a, .hi a{
    padding: 2%;
    background-color: blue;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
.new-img , .hi-img{
    border-radius: 10px;
    margin: 0% auto 1% auto;
}
.new-img img, .hi-img img{
    width:100%;
}
.read-next{
    display: none;
}
.read-next.active{
    display: flex;
    flex-direction: column;
}
.hi-info button{
  width: 100%;
  background-color: #ff2e63;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  padding: 1%;
  cursor: pointer;
  border:none;
  font-size: 1.6rem;
}
.hi-info .read-next a{
  text-decoration: none;
  width: 100%;
  background-color: #ff2e63;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  padding: 1%;
  cursor: pointer;
  border:none;
  text-align: center;
  font-size: 1.6rem;
}
.study{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.study .title{
    font-size: 2em;
    font-weight: bold;
    color: #ff2e63;
}
.study p{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.study_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.study_item{
    display: flex;
}
.study_item .photo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
}
.study_item .photo img{
    width: 100%;
}
.study_item .desc_item{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.study_item .desc_item .title{
    font-weight: bold;
    font-size: 1.7em;
    padding: 2%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc_text{
    margin: auto 0;
    padding: 3%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc_text a{
    transition: all .7s;
    text-decoration: none;
    color: #ff2e63;
    font-weight: bold;
    padding: 2%;
}
.desc_text a:hover{
    background-color: #ff2e63;
    color: white;
}
.desc_text a.v{
  display: flex;
}
.desc_text a.h{
  display: none;
  justify-content: center;
  align-items: center;
}

footer{
    background-color: white;
    text-align: center;
}
footer .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% auto;
}
footer .wrapper p{
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    margin: 1% 0;
}






.dropbtn{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    border: 3px solid transparent;
    padding: .6em;
    background-color: #fff;
    cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    opacity: 0;
    visibility: hidden;
  position: absolute;
  background-color: #f1f1f1;
  width: 350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 3px solid transparent;
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: flex;
  font-weight: normal!important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
    border-bottom: none!important;
    border-left: 3px solid #ff2e63;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {opacity: 1;
visibility: visible;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ff2e63;}











@media(max-width: 480px){
  header .wrapper ul.menu{
      display: none;
  }
  .logo{
      font-size: 1.4rem;
  }
  .mobile-bar{
      display: flex;
  }
  .pre-header{
      display: none;
  }
  .pre-footer{
      display: flex;
  }
  footer .wrapper p{
      font-size: .7rem;
  }
  .hi-block{
    text-align: center;
    font-size: .8rem; 
  }
  .hi-title{
    border-bottom: none;
  }
  .new-title{
    border-bottom-color: #e4c960;
  }
  .study .title{
    font-size: 1.1rem;
    font-weight: bold;
    color: #ff2e63;
  } 
  .study_item .desc_item .title{
    font-weight: bold;
    font-size: 1.2em;
    padding: 2%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desc_text a.v{
    display: none;
  }
  .desc_text a.h{
    display: flex;
  }
  .dropdown-content {
    font-size: .8rem;
    width: 100%;
  }
  main .wrapper{
    position: relative;
    background-image: url('../img/banner-small.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
@media(min-width: 480px) and (max-width: 768px){
  .pre-footer{
      display: none;
  }
  .mobile-bar{
      display: flex;
  }
  .pre-header .wrapper{
    display: flex;
    justify-content: space-between;
  }
  header .wrapper ul.menu{
      display: none;
  }
  main .wrapper{
    position: relative;
    background-image: url('../img/banner-small.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
@media(min-width: 768px) and (max-width: 923px){
  ul.menu li a {
    font-size: .9rem;
  }
  .dropbtn{
    font-size: .9rem;
  }
  .logo{
    font-size: 1.4rem;
  }
}