.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.8s ease 0s;
}
.popup_body{
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup_content{
	background-color: #fff;
	color: #000;
	width: 780px; 
	padding: 1em;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 580px; 
	transition: all 0.8s ease 0s;
	opacity: 0;
	transform: translate(0px, -100%);
}
.popup_close{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	color: red;
	text-decoration: none;
	border: 1px solid #000;
	border-radius: 60px;
	padding: .7% 1.5%;
}
.popup_title{
	font-size: 40px;
	margin: 0px 0px .2em 0px;
}
.popup_photo{
	max-height: 470px;
	overflow-y: scroll;
}
.popup_photo img{
	width: 100%;
}
.popup-btn{
	padding: 1%;
	letter-spacing: 1px;
}


.popup.open{
	opacity: 1;
	visibility: visible;
}
.popup.open .popup_content{
	transform: translate(0px,0px);
	opacity: 1;
}

body.lock{
	overflow: hidden;
}