@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

:root{
  --color-1:#11101d;
  --color-2:#1d1b31;
  --color-3:#008aff;
  --color-4:#00ffe7;
  --color-5:#252A34;
  --f-f-1: 'Poppins', sans-serif;
  --f-f-2: 'Teko', sans-serif;
}

body{
  font-family: var(--f-f-1);
  overflow: hidden;
  box-sizing: border-box;
  background-color: var(--color-5)
}
.container{
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}
.content{
        width: calc(100% - 4rem);
        margin-left: 4rem; 
}

body{
  position: relative;
  width: 100%;
}


.scrollbar{
  position: fixed;
  top: 0;
  left: 0;
  height: .2rem;
  width: 100vw;
  z-index: 100000;
  background-color: white;
}
.scrollLine{
  width: 0vw;
  background: linear-gradient(to left,var(--color-3),var(--color-4));
  height: .2rem;
  z-index: 111111;
}



.hello{
        height: 100vh;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        background: url("../img/hellobg.png") no-repeat;
        background-size: cover;
}
.hello .logo_desc{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
}
.hello .btns{
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 2;
}
.hello .logo{
        margin-right: 2rem;
        z-index: 2;
}
.hello .logo img{
        width: 12rem;
}
.hello .desc{
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 3rem;
}
.hello .desc h1{
        color: white;
        font-weight: normal;
        margin-bottom: 1rem;
}
.hello .desc .name{
        font-weight: bold;
        margin-bottom: 1rem;
        color: var(--color-3);
}
.hello .desc .job{
        color: white;
}
.hello .btns a{
  text-decoration: none;
  padding: 1rem 5rem;
  border-radius: 100px;
  margin-top: 4rem;
  color: white;
  font-size: 2rem;
  background-color: var(--color-3);
}
.hello .btns a:hover{
        box-shadow: 0 5px 45px rgba(0, 138, 255,.4);
}
.hello .blur{
        background-color: rgba(0,0,0,0.8);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
}







.about{
  position: relative;
  color: white;
  background-color: var(--color-5);
  padding: 1rem 2rem;
  z-index: 11;
}
.about .title, .Projects .title, .contacts .title{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: var(--f-f-2);
        font-size: 3rem;
        font-weight: 700;
}
@media(min-width: 1920px){
        .title{
                margin-top: 4rem;
                font-size: 5rem;
        }
}
.about .info_content{
        padding: 2rem 0 0 0;
        display: flex;
        width: 100%;
        flex-direction: column;
}
.about .about_text{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding-right: 1rem;
}
.about .about_text .about_text_title h1, .about .skills .skills_title h1{
        font-size: 2rem; 
        margin-bottom: 1rem;
        padding: .3rem 3rem;
        border-radius: 100px;
        border: 2px solid var(--color-3);
        box-shadow: 0 5px 45px rgba(0, 138, 255,.4);
}
.about .about_text .about_text_title{
        display: flex;
        justify-content: flex-start;
        width: 100%;
}
.about .skills .skills_title{
        display: flex;
        justify-content: flex-end;
        width: 100%;
}
.about .about_text .about_text_desc{
        line-height: 1.7;
        font-weight: 500;
}
.about .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
}
.about .skills .skill_types{
        display: flex;
        width: 100%;
}
.about .skills .soft_skills, .about .skills .hard_skills{
        flex: 1;
        padding: 0 0 1rem 1rem;
}
.about .skills .soft_skills, .about .skills .hard_skills .blocks{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        height: 100%;
}
.about .skills .title{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        font-size: 1.5rem;
}
.about .skills .soft_skills{
        display: flex;
        flex-direction: column;
        padding-right: 1rem;
        border-right: 2px solid var(--color-3);
}
.about .skills .soft_skills .skillbars{
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem 0;
        width: 100%
}
.about .skills .soft_skills .skillbars .skillbar{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
}
.about .skills .soft_skills .skillbars .skillbar .name_percent{
        display: flex;
        width: 100%;
        justify-content: space-between;
}
.about .skills .soft_skills .skillbars .skillbar .name_percent .name{
        margin-left: .1rem;
}
.about .skills .soft_skills .skillbars .skillbar .name_percent .percent{
        font-weight: bold;
}
.about .skills .soft_skills .skillbars .skillbar .linebar{
        margin-top: .3rem;
        width: 100%;
        border-radius: 100px;
        height: .3rem;
        background-color: #f7f7f7;
        overflow: hidden;
}
.about .skills .soft_skills .skillbars .skillbar .linebar .line{
        background: var(--color-4);
        height: .3rem;
        border-radius: 100px;
}

.about .skills .hard_skills .blocks .block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
}
.about .skills .hard_skills .blocks .block .name{
        padding: .4rem 1rem;
        background: white;
        border-radius: 100px;
        color: var(--color-2);
        margin-top: 1rem;
        font-weight: bold;
}
.about .skills .hard_skills .blocks .block img{
        width: 50%;
}





.contacts {
  background-color: var(--color-5);}
.contacts-block {
  padding: 2rem;  
}
.tel-mail {
  display: flex;
  justify-content: space-around;
}
.contacts .tel-mail {
  padding: .5rem 0 .5rem 0;
  margin-bottom: 2.5%;
  border: 2px solid var(--color-3);
  border-radius: 100px;
  box-shadow: 0 5px 45px rgba(0, 138, 255,.4);
  background-color: white;
}
.contacts .tel-mail p {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-1);
  height: 100%;
}
.contacts .tel-mail p a{
  text-decoration: none;
  color: var(--color-1);
  font-family: var(--f-f-2);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.contacts .tel-mail p a img{
  width: 3rem;
  margin-right: .7rem;
}
.contacts ul {
  background-color: #fff;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: .2rem;
  border-radius: 1000px;
  margin-bottom: 2.5%;
  border: 2px solid var(--color-3);
  border-radius: 100px;
  box-shadow: 0 5px 45px rgba(0, 138, 255,.4);
}
.contacts ul.social-media li {
  list-style: none;
}
.contacts ul.social-media li a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts ul.social-media li a img {
  width: 60px;
}










@media(min-width: 1920px){
  .container{
          width: 100vw;
          margin: 0;
          max-width: unset;
  }
  .content{
          width: 1920px; 
          margin: 0 auto;
  }
  .hello .desc{
          font-size: 5rem;
  }
}

@media(max-width: 375px){
  .hello .logo img{
    width: 7rem;
  }
  .hello .logo_desc{
    flex-direction: column;
  }
  .hello .logo{
    margin-right: unset;
    margin-bottom: 2rem;
  }
  .hello .desc{
    font-size: 1.5rem;
  }
  .hello .btns{
    margin-top: 2rem;
  }
  .hello .btns a{
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-top: unset;
  } 

  .about{
    padding: 1rem .5rem;
  }
  .about .title, .Projects .title, .contacts .title {
    font-size: 2rem;
  }
  .about .about_text .about_text_title h1, .about .skills .skills_title h1 {
    font-size: 1.5rem;
    margin: 0 5% 1rem 5%;
    width: 90%;
    display: flex;
    padding: .7rem;
    justify-content: center;
  }
  .about .info_content {
    flex-direction: column-reverse;
    padding: 0;
  }
  .about .skills .skill_types{
    flex-direction: column-reverse;
  }
   .about .skills .hard_skills .blocks{
    grid-template-columns: repeat(2,1fr);
    padding: 0 0 1rem 0;
    border-bottom: 2px solid var(--color-3)
  }
  .about .skills .soft_skills{
    border:none;
  }
  .about .skills .hard_skills .blocks .block{
    margin-top: 1rem;
  }
  .about .skills .hard_skills .blocks .block .name{
    margin-top: .6rem;
    padding: .4rem .8rem;
  }
  .about .skills .hard_skills .blocks .block img{
    width: 3rem;
  }

  .Projects .projects{
    grid-template-columns: 1fr;
  }
  .Projects .projects .project{
    height: 150px;
  }
  .Projects .projects .project .info .desc {
    display: none;
  }
  .Projects .projects .project .info .name {
    font-size: 1.2rem;
  }
  .Projects .btnMoreProjects a{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
  }

  .contacts-block{
    padding: 0;
  }
  .contacts .tel-mail {
    justify-content: unset;
    flex-direction: column;
    border:none;
    box-shadow: unset;
    background-color: unset;
    border-radius: unset;
    padding: 0 0 .5rem 0;
  }
  .contacts .tel-mail p{
    background-color: white;
    border: 2px solid var(--color-3);
    margin: .5rem;
    border-radius: 100px;
  }
  .contacts .tel-mail p a {
    font-size: 1.7rem;
  }
  .contacts .tel-mail p a img{
    width: 2.5rem;
  }
  .contacts ul{
    box-shadow: unset;
    margin: .5rem;
  }
  .contacts ul.social-media li a img{
    width: 2rem;
  }
  .Filters .btns,.Filters .tech {
    flex-direction: column;
    border-radius: 20px;
  }
  .Filters .btns button,.Filters .tech button{
    border:none;
    border-bottom: 2px solid white; 
  }
  .Filters .btns button.active,.Filters .tech button.active,.Filters .btns button:hover, .Filters .tech button:hover{
    border:none;
    border-bottom: 2px solid white; 
  }

  .rainbow-marker-loader {
    width: 18rem;
  }
}



@media(min-width: 376px) and (max-width: 550px){
  .hello .logo img{
    width: 7rem;
  }
  .hello .logo_desc{
    flex-direction: column;
  }
  .hello .logo{
    margin-right: unset;
    margin-bottom: 2rem;
  }
  .hello .desc{
    font-size: 1.5rem;
  }
  .hello .btns{
    margin-top: 2rem;
  }
  .hello .btns a{
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-top: unset;
  } 

  .about{
    padding: 1rem .5rem;
  }
  .about .title, .Projects .title, .contacts .title {
    font-size: 3rem;
  }
  .about .about_text{
    padding: 0 .5rem;
  }
  .about .about_text .about_text_title h1, .about .skills .skills_title h1 {
    font-size: 1.5rem;
    margin: 0 5% 1rem 5%;
    width: 90%;
    display: flex;
    padding: .7rem;
    justify-content: center;
  }
  .about .info_content {
    flex-direction: column-reverse;
    padding: 0;
  }
  .about .skills .skill_types{
    flex-direction: column-reverse;
  }
   .about .skills .hard_skills .blocks{
    grid-template-columns: repeat(2,1fr);
    padding: 0 0 1rem 0;
    border-bottom: 2px solid var(--color-3)
  }
  .about .skills .soft_skills{
    border:none;
  }
  .about .skills .hard_skills .blocks .block{
    margin-top: 1rem;
  }
  .about .skills .hard_skills .blocks .block .name{
    margin-top: .6rem;
    padding: .4rem .8rem;
  }
  .about .skills .hard_skills .blocks .block img{
    width: 3rem;
  }

  .Projects .projects{
    grid-template-columns: 1fr;
  }
  .Projects .projects .project{
    height: 200px;
  }
  .Projects .projects .project .info .desc {
    font-size:1.3rem;
  }
  .Projects .projects .project .info a{
    font-size: 1.5rem;
    padding: .5rem 3rem;
  }
  .Projects .btnMoreProjects a{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  .contacts-block{
    padding: 0;
  }
  .contacts .tel-mail {
    justify-content: unset;
    flex-direction: column;
    border:none;
    box-shadow: unset;
    background-color: unset;
    border-radius: unset;
    padding: 0 0 .5rem 0;
  }
  .contacts .tel-mail p{
    background-color: white;
    border: 2px solid var(--color-3);
    margin: .5rem;
    border-radius: 100px;
  }
  .contacts .tel-mail p a {
    font-size: 2rem;
  }
  .contacts .tel-mail p a img{
    width: 2.5rem;
  }
  .contacts ul{
    box-shadow: unset;
    margin: .5rem;
  }
  .contacts ul.social-media li a img{
    width: 2.7rem;
  }
  .Filters .btns,.Filters .tech {
    flex-direction: column;
    border-radius: 20px;
  }
  .Filters .btns button,.Filters .tech button{
    border:none;
    border-bottom: 2px solid white; 
  }
  .Filters .btns button.active,.Filters .tech button.active,.Filters .btns button:hover, .Filters .tech button:hover{
    border:none;
    border-bottom: 2px solid white; 
  }
}


@media(min-width: 550px) and (max-width: 767px){
  .hello .logo img{
    width: 10rem;
  }
  .hello .logo{
    margin-right: unset;
    margin-right: 2rem;
  }
  .hello .desc{
    font-size: 1.5rem;
  }
  .hello .btns{
    margin-top: 2rem;
  }
  .hello .btns a{
    font-size: 1rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
  } 

  .about{
    padding: 1rem .5rem;
  }
  .about .title, .Projects .title, .contacts .title {
    font-size: 3rem;
  }
  .about .about_text{
    padding: 0 .5rem;
  }
  .about .about_text .about_text_title h1, .about .skills .skills_title h1 {
    font-size: 1.5rem;
    margin: 0 5% 1rem 5%;
    width: 90%;
    display: flex;
    padding: .7rem;
    justify-content: center;
  }
  .about .info_content {
    flex-direction: column-reverse;
    padding: 0;
  }
  .about .skills .skill_types{
    flex-direction: column-reverse;
  }
   .about .skills .hard_skills .blocks{
    grid-template-columns: repeat(4,1fr);
    padding: 0 0 1rem 0;
    border-bottom: 2px solid var(--color-3)
  }
  .about .skills .soft_skills{
    border:none;
  }
  .about .skills .hard_skills .blocks .block{
    margin-top: 1rem;
  }
  .about .skills .hard_skills .blocks .block .name{
    margin-top: .6rem;
    padding: .4rem .8rem;
  }
  .about .skills .hard_skills .blocks .block img{
    width: 3rem;
  }

  .Projects .projects{
    grid-template-columns: repeat(2,1fr);
  }
  .Projects .projects .project{
    height: 200px;
  }
  .Projects .projects .project .info a {
    padding: .5rem 3rem;
    font-size: 1.2rem;
  }
  .Projects .projects .project .info .name{
    font-size: 1.2rem;
  }
  .Projects .projects .project .info .desc {
    font-size: 1.1rem;
  }
  .Projects .btnMoreProjects a{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }

  .contacts-block{
    padding: 0;
  }
  .contacts .tel-mail {
    justify-content: unset;
    flex-direction: column;
    border:none;
    box-shadow: unset;
    background-color: unset;
    border-radius: unset;
    padding: 0 0 .5rem 0;
  }
  .contacts .tel-mail p{
    background-color: white;
    border: 2px solid var(--color-3);
    margin: .5rem;
    border-radius: 100px;
  }
  .contacts .tel-mail p a {
    font-size: 2rem;
  }
  .contacts .tel-mail p a img{
    width: 2.5rem;
  }
  .contacts ul{
    box-shadow: unset;
    margin: .5rem;
  }
  .contacts ul.social-media li a img{
    width: 3.5rem;
  }
  .Filters .btns,.Filters .tech {
    flex-direction: column;
    border-radius: 20px;
  }
  .Filters .btns button,.Filters .tech button{
    border:none;
    border-bottom: 2px solid white; 
  }
  .Filters .btns button.active,.Filters .tech button.active,.Filters .btns button:hover, .Filters .tech button:hover{
    border:none;
    border-bottom: 2px solid white; 
  }
}
@media(min-width: 768px) and (max-width: 900px){
  .Projects .projects{
    grid-template-columns: repeat(2,1fr);
  }
  .Projects .btnMoreProjects a {
    font-size: 2rem;
  }
}
@media(min-width: 768px) and (max-width: 1100px){
  .about .skills .hard_skills .blocks{
    grid-template-columns: repeat(3,1fr);
  }
}
@media(min-width: 768px) and (max-width: 960px){
  .Filters .btns button,.Filters .tech button{
    font-size: 1.3rem; 
  }
}





































































/*::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color-1);
    padding: .2rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--color-4),var(--color-3));
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 5px 45px rgba(0, 138, 255,.4);
}



::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}*/