:root{
  --f-f:Ranchers;
}

* {
  outline: none;
}
body{
  background-color: #222831;
  scroll-behavior: smooth;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  font-family: var(--f-f);
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  color: white;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
}
header{
  background-color: #00adb5;
  margin: 0px;
}
.header{
  max-width: 1150px;
  margin: 0px auto;
  display: flex;
}
.logo{
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a img{
  border-radius: 50px;
  width: 40px;
  display: flex;
}
.nav{
  flex:10;
  padding: auto 1%;
}
.nav ul {
  letter-spacing: 3px;
  list-style: none;
  font-weight: bold;
  display: -webkit-flex; 
  display: flex;
  justify-content:space-between;
  padding-left: 0;
  margin: 0 auto;
}
.nav a {
  padding: 1em;
  color: #fff;
  text-decoration: none;
  border: 3px solid transparent;
  transition: all .1s;
  display: flex;
  flex: 1 1 auto;
}
.nav a:hover, .nav a:active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  border-top: 3px solid #ff2e63;
  transition: all 0.5s;
}
.nav a::hover, .nav a::active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  border-top: 3px solid #ff2e63;
  transition: all 0.5s;
}
.mobile-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  margin-right: 5%;
  transition: all .8s;
  border-radius: 10px;
}
.mobile-bar span{
  display: block;
  height: 3px;
  width: 20px;
  border-radius: 10px;
  margin: 2px auto;
  background-color: #ff2e63;
}
.mobile-bar.active{
  transform: rotate(90deg);
}
.mobile-bar.active span{
  background-color: #ff2e63;
}
.toggleMenu {
  background-color: #00adb5;
  border-top: 3px solid #ff2e63;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  padding: 0;
  border-radius: 0 0 0 10px
}
.toggleMenu ul li{
  list-style: none;
  color: #000;
  font-size: 1em;
}
.toggleMenu ul{
  letter-spacing: 2px;
  margin:0px;
  list-style: none;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  padding: 0;
}
.toggleMenu a {
  padding: 1em;
  color: #fff;
  text-decoration: none;
  border: 3px solid transparent;
  transition: all .1s;
  display: flex;
  flex: 1 1 auto;
}
.toggleMenu a:hover, .toggleMenu a:active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  transition: all 0.5s;
}
.toggleMenu a::hover, .toggleMenu a::active {
  opacity: 1;
  border-bottom: 3px solid #ff2e63;
  border-top: 3px solid #ff2e63;
  transition: all 0.5s;
}
.toggleMenu.active{
  opacity: 1;
  visibility: visible;
}


main.wrapper{
  max-width: 1150px;
  margin: 0px auto;
  min-height: 100%;
  position: relative;
}
.btn{
  font-size: 1em;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #00adb5;
  padding: 4%;
  font-weight: bold;
  transition: background-color 1s;
  cursor: pointer;
  margin: 2%;
  border-radius: 10px 10px 0 0;
}
.btn:hover,.btn:active{
  border-radius: 10px 10px 0 0;
  background-color: #00adb5;
  color: white;
}
.btn::hover,.btn::active{
  border-radius: 10px 10px 0 0;
  background-color: #00adb5;
  color: white;
}
.projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 3px solid #ff2e63;
  padding-bottom: 1.7%;
  margin: 1%;
}
.project_box{
  font-family: Della Respira;
  font-size: 1.2em;
  transition: all 2s;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 3.5%;
  padding: 5%;
  border-radius: 10px;
}
.project_photo{
  max-height: 300px;
  overflow-y: scroll;
}
.project_photo a img{
  width: 100%;
}
.project_desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  flex: 1 1 auto;
}
.project_desc .title{
  font-size: 1.2em;
  color: black;
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  padding-top: 2%;
  font-weight: bold;
}
.project_desc .title span{
  color: red;
}
.about{
  border-bottom: 3px solid #ff2e63; 
  display: flex;
}
.about .photo{
  flex:1;
  margin: 2.5%;
  margin-right: 0%;
}
.photo img{
  width: 240px;
}
.about_text{
  font-family: Della Respira;
  font-size: 1.5em;
  transition: all 2s;
  background-color: #fff;
  flex:4;
  margin: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%; 
}

.study{
  display: flex;
  flex-direction: row-reverse;
  transition: all 2s;
  border-bottom: 3px solid #ff2e63; 
}
.study .photo {
  flex:1;
  margin: 2.5%;
  margin-left: 0%; 
}
.study_text{
  font-family: Della Respira;
  font-size: 1.5em;
  transition: all 2s;
  background-color: #fff;
  flex:4;
  margin: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%; 
}

.contacts{
  transition: all 2s;
  display: flex;
  margin-top: 2.5%;
  background-color: #fff;
  padding: 1.5%;
  font-size: 1.5em;
  flex-direction: column;
}
.contacts a{
  text-decoration: none;
  color: #000;
  font-family: Century Gothic;
}
.tel-mail{
  display: flex;
  justify-content: space-around;
}
.contacts .tel-mail {
  margin-bottom: 2.5%;
}
.contacts .tel-mail p{
  margin-right: 1%;
  padding-right: 1%;
  margin-bottom: 2.5%;
  font-size: 1.3em;
}
.contacts ul{
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  padding-left: 0%;

}
.contacts ul.social-media li{
  list-style: none;
}
.contacts ul.social-media li a img{
  width: 100px;
}

footer{
  background-color: #00adb5;
  margin-top: auto;
}
.footer{
  max-width: 1150px;
  margin: 0px auto;
  display: flex;
  font-family: var(--f-f);
}
footer .logo{
  margin: 2% auto;
  justify-content: center;
  align-items: center;
}
footer .logo img{
  width: 100px;
}




@media(max-width: 320px){
  main.wrapper{
    margin: 0;
  }
  .projects{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .project_box{
    max-width: 300px;
    padding: 2%;
  }
  .logo{
    justify-content: flex-start;
    padding: 1%;
  }
  .project_photo{
    overflow: hidden;
  }
  nav.nav{
    opacity: 0;
    visibility: hidden;
  }
  .mobile-bar{
    opacity: 1;
    visibility: visible;
  }
  .about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .study{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tel-mail{
    flex-direction: column;
  }
  .contacts ul.social-media li a img{
    width: 50px;
  }
  .contacts .tel-mail p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    font-weight: bold;
  }
  .contacts .tel-mail {
    margin-bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media(min-width: 320px) and (max-width: 767px){
  main.wrapper{
    margin: 0;
  }
  .project_box{
    width: 300px;
    padding: 2%;
  }
  .projects{
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .logo{
    justify-content: flex-start;
    padding: 1%;
  }
  .project_photo{
    overflow: hidden;
  }
  nav.nav{
    display: none;
  }
  .mobile-bar{
    opacity: 1;
    visibility: visible;
  }
  .about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .study{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tel-mail{
    flex-direction: column;
  }
  .contacts ul.social-media li a img{
    width: 50px;
  }
  .contacts .tel-mail p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
  }
  .contacts .tel-mail {
    margin-bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .logo{
    justify-content: center;
    align-items: center;
  }
}
@media(min-width: 481px) and (max-width: 767px){
  nav.nav{
    display: flex;
  }
  .mobile-bar{
    opacity: 0;
    visibility: hidden;
  }
  .toggleMenu{
    opacity: 0;
    visibility: hidden;
  }
  .logo{
    justify-content: flex-start;
    padding: 1%;
  }
}
@media(min-width: 768px) and (max-width: 1024px){
  .project_photo{
    overflow: hidden;
  }
  .contacts .tel-mail p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
  }
  main.wrapper{
    margin: 0;
  }
  .project_photo{
    overflow: hidden;
  }
  .mobile-bar{
    opacity: 0;
    visibility: hidden;
  }
  .tel-mail{
    flex-direction: column;
  }
  .contacts ul.social-media li a img{
    width: 50px;
  }
  .contacts .tel-mail {
    margin-bottom: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media(min-width: 1024px){
  .contacts .tel-mail p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: bold;
  }
}




::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #222831;
}
::-webkit-scrollbar-thumb {
  background-color: #ff2e63;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff2e63;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}
