:root{
  --color-1: #222831;
  --color-2: #ff1c1c;
}
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.more-splash {
  -webkit-animation-name: splash;
          animation-name: splash;
  -webkit-animation-duration: 1.7s;
          animation-duration: 1.7s;
}
@-webkit-keyframes splash {
  from {
    box-shadow: 0 0 10px var(--color-2);
  }
  to {
    box-shadow: 0 0 60px var(--color-2);
  }
}
@keyframes splash {
  from {
    box-shadow: 0 0 10px var(--color-2);
  }
  to {
    box-shadow: 0 0 60px var(--color-2);
  }
}
@-webkit-keyframes mainBlockLink {
  0% {
    width: 10%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 10%;
  }
}
@keyframes mainBlockLink {
  0% {
    width: 10%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 10%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Londrina Solid', cursive;
}
a {
  color: inherit;
  text-decoration: none;
}
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
header ul {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
header ul li{
  transition: all 1s ease 0s;
  line-height: 1.4rem;
  font-size: 1.4rem;
}
header ul li:hover{
  transform: scale(1.2);
}
.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.main-block {
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}
.main-block-link {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.main-block-link:after {
  content: '';
  display: block;
  width: 10%;
  height: 5px;
  border-radius: 100px;
  background-color: var(--color-2);
  margin: 0 auto;
  margin-top: 2px;
  -webkit-animation-name: mainBlockLink;
          animation-name: mainBlockLink;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
          animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
}
.main-block-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 35px;
}
.main-block-descr {
  color: var(--color-2);
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 35px;
  font-weight: bold;
  padding: .2rem;
  background-color: white;
  border-radius: 20px;
}
.border{
  border: 1px solid #fff;
}
.content {
  width: 100%;
  background: url(../img/main_bg.jpg);
  padding-bottom: 3rem;
}
.link{
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  padding-bottom: .2rem;
}
.content .info {
  width: 100%;
  min-height: 580px;
  background-color: var(--color-1);
  padding: 50px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.content .info-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.content .info-header-tab {
  color: var(--color-2);
  font-weight: bold;
  font-size: 1.7rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid transparent;
}
.content .info-header-tab:hover {
  border-bottom: 2px solid var(--color-2)
}
.content .info-tabcontent {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.content .info-tabcontent .description-title {
  font-size: 34px;
  color: var(--color-2);
  border-right: 2px solid var(--color-2);
}
.content .info-tabcontent .description-text {
  margin-top: 30px;
  color: #fff;
  border-right: 2px solid #fff;
  font-weight: 300;
  padding-right: 20px;
  font-size: 1.2rem;
}
.content .info .photo {
  max-height: 600px;
  display: flex;
  flex-direction: column;
}
.content .info .photo img{
  display: block;
}
.content .info .other-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .info .other-description .project-date{
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  color: white;
  border: 2px solid var(--color-2);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.content .description-btn {
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  color: white;
  background-color: var(--color-2);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}
.content .description-btn:hover {
  box-shadow: 0px 0px 5px var(--color-2);
}
.content .info-tabcontent .photo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}
.content .info-tabcontent .photo img {
  width: 100%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.content .info .btnMore,.content .info .btnNoMore{
  width: 400px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem auto 0 auto;
  color: white;
  background-color: var(--color-2);
  border:none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
}
.content .info .btnMore img,.content .info .btnNoMore img{
  display: block;
  width: 20px;
}
.content .info .btnMore img.left,.content .info .btnNoMore img.left{
  margin-right: .6rem;
  transition: all 1s ease 0s;
}
.content .info .btnMore img.right,.content .info .btnNoMore img.right{
  margin-left: .6rem;
  transition: all 1s ease 0s;
}
.content .info .btnMore:hover,.content .info .btnNoMore:hover{
  box-shadow: 0px 0px 5px var(--color-2);
}
.content .info .btnMore:hover img.left{
  transform: rotate(270deg);
}
.content .info .btnMore:hover img.right{
  transform: rotate(-270deg);
}
.content .info .btnNoMore img.left{
  transform: rotate(180deg);
}
.content .info .btnNoMore img.right{
  transform: rotate(-180deg);
}
.content .info .btnNoMore:hover img.left{
  transform: rotate(-90deg);
}
.content .info .btnNoMore:hover img.right{
  transform: rotate(90deg);
}


.content .info .hide {
  display: none;
}
.content .info .show {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.content .timer {
  margin-top: 100px;
  text-align: center;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content .timer-title {
  font-size: 36px;
  color: var(--color-2);
}
.content .timer-action {
  font-size: 24px;
  color: #fff;
  margin-top: 40px;
}
.content .timer-numbers {
  margin-top: 40px;
  font-size: 2rem;
  color: var(--color-2);
  padding: 1rem;
  background-color: #fff;
  border-radius: 20px;
  width: 40%;
  margin: 1rem auto;
}

#contactsBlock{
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.social {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  margin-top: 4rem;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.social .social-block {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.social .social-block:last-child {
  margin: 0;
}
.social .social-block:hover {
  box-shadow: 0 0 10px var(--color-2);
}
.social .social-block a img {
  width: 40px;
  display: block;
}

.about{
  width: 100%;
  background: url(../img/main_bg.jpg);
  padding-bottom: 3rem;
}
.about-block{
  width: 100%;
  background-color: var(--color-1);
  padding: 2rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
}
.about_box{
  margin: 2.5%;
  display: flex;
}
.about .logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 0%;
}
.logo img {
  width: 110px;
}
.about_text {
  font-family: Della Respira;
  font-size: 1.35em;
  transition: all 2s;
  background-color: #fff;
  flex: 4;
  margin-left: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  border-radius: 0 20px 20px 0;
}
.about_text::before{
  content: "";
  position: absolute;
  left: -30px;
  top: 35px;
  border: 20px solid transparent;
  border-right: 20px solid white;
}
.about_box2{
  margin: 2.5%;
  display: flex;
  flex-direction: row-reverse;
}
.logo2{
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.logo2 img {
  width: 110px;
  border-radius: 100px;
}
.about_text2 {
  font-family: Della Respira;
  font-size: 1.16em;
  transition: all 2s;
  background-color: #fff;
  flex: 4;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  position: relative;
  border-radius: 20px 0 0 20px;
}
.about_text2::before{
  content: "";
  position: absolute;
  right: -30px;
  top: 35px;
  border: 20px solid transparent;
  border-left: 20px solid white;
}


.contacts {
  transition: all 2s;
  width: 100%;
  background: url(../img/main_bg.jpg);
  padding-bottom: 3rem;
}
.contacts-block {
  width: 100%;
  background-color: var(--color-1);
  padding: 2rem;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);  
}
.tel-mail {
  display: flex;
  justify-content: space-around;
}
.contacts .tel-mail {
  margin-bottom: 2.5%;
  border-bottom: 2px solid var(--color-2);
}
.contacts .tel-mail p {
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.contacts ul {
  background-color: #fff;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  padding: .2rem;
  border-radius: 1000px;
}
.contacts ul.social-media li {
  list-style: none;
}
.contacts ul.social-media li a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts ul.social-media li a img {
  width: 60px;
}













@media(max-width: 319px){
  @keyframes mainBlockLink {
    0% {
      width: 10%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 10%;
    }
  }
  header{
    border-bottom: 2px solid var(--color-2)
  }
  header ul{
    justify-content: space-between;
  }
  header ul li{
    font-size: 1.1rem;
  }
  .main-block {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .main-block-link {
    font-size: 1.6rem;
  }
  .main-block-descr{
    display: none;
  }
  .content .info{
    padding:1rem 2rem;
  }
  .content .info-header {
    flex-direction: column;
  }
  .content .info-header-tab{
    font-size: 1.5rem;
  }
  .border{
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 0 auto;
  }
  .content .info .photo {
    max-height: 350px;
    overflow: hidden;
  }
  .contacts-block{
    padding:1rem;
  }
  .contacts .tel-mail p {
    font-size: 1.1em;
    justify-content: flex-start;
  }
  .contacts .tel-mail p a img{
    width: 30px;
  }
  .contacts ul.social-media li a img {
    width: 40px;
  }
  .about_box, .about_box2{
    flex-direction: column;
    margin: unset;
  }
  .about_text,.about_text2{
    border-radius: 0 0 20px 20px;
    margin: 1.2rem 0;
     word-wrap: break-word;
     font-size: 1.1em;
  }
  .about_text::before,.about_text2::before{
    content: "";
    display: none;
  }
  .main-block-title {
    font-size: 1.4rem;
  }
  .content .info-tabcontent .description-title{
    font-size: 1.5rem;
  }
  .content .info-tabcontent .photo{
    overflow: hidden;
  }
  .content .info-tabcontent .description-text{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .contacts .tel-mail {
    display: flex;
    flex-direction: column;
  }
}
@media(min-width: 320px) and (max-width: 480px){
  @keyframes mainBlockLink {
    0% {
      width: 10%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 10%;
    }
  }
  header{
    border-bottom: 2px solid var(--color-2)
  }
  header ul{
    justify-content: space-between;
  }
  header ul li{
    font-size: 1.3rem;
  }
  .main-block {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .main-block-link {
    font-size: 2rem;
  }
  .main-block-descr{
    display: none;
  }
  .content .info{
    padding:1rem 2rem;
  }
  .content .info-header {
    flex-direction: column;
  }
  .content .info-header-tab{
    font-size: 1.5rem;
  }
  .main-block-title {
    font-size: 1.4rem;
  }
  .border{
    width: 80%;
    height: 2px;
    background: #fff;
    margin: 0 auto;
  }
  .content .info .photo {
    max-height: 350px;
  }
  .contacts .tel-mail p {
    justify-content: flex-start;
    font-size: 1rem;
  }
  .contacts ul.social-media li a img {
    width: 30px;
  }
  .about_box, .about_box2{
    flex-direction: column;
    margin: unset;
  }
  .about_text,.about_text2{
    border-radius: 0 0 20px 20px;
    margin: 1.2rem 0;
     word-wrap: break-word;
     font-size: 1.35em;
  }
  .about_text::before,.about_text2::before{
    content: "";
    display: none;
  }
  .content .info-tabcontent .description-title{
    font-size: 1.6rem;
  }
  .content .info-tabcontent .photo{
    overflow: hidden;
  }
  .content .info-tabcontent .description-text{
    font-size: 1rem;
    margin-top: 1rem;
  }
  .contacts .tel-mail {
    display: flex;
    flex-direction: column;
  }
}
@media(min-width: 481px) and (max-width: 767px){
  @keyframes mainBlockLink {
    0% {
      width: 10%;
    }
    50% {
      width: 80%;
    }
    100% {
      width: 10%;
    }
  }
  .content .info-tabcontent .description-title{
    font-size: 3rem;
  }
  .content .info-tabcontent .description-text{
    font-size: 1.6rem;
  }
  header ul li{
    font-size: 2rem;
  }
  .main-block-link{
    font-size: 2.6rem;
  }
  .content .info .photo {
    max-height: 450px;
  }
  .link{
    height: 150px;
    font-size: 4rem;
  }
  .content .info-header-tab{
    margin: 1rem auto;
    font-size: 2.5rem;
  }
  .content .info-header {
    flex-direction: column;
  }
  .about_box, .about_box2{
    flex-direction: column;
    margin: unset;
  }
  .about_text,.about_text2{
    border-radius: 0 0 20px 20px;
    margin: 1.2rem 0;
     word-wrap: break-word;
     font-size: 1.6em;
  }
  .about_text::before,.about_text2::before{
    content: "";
    display: none;
  }
  .contacts .tel-mail {
    display: flex;
    flex-direction: column;
  }
  .contacts .tel-mail p{
    font-size: 2rem;
  }
}
@media(min-width: 768px) and (max-width: 1100px){
  @keyframes mainBlockLink {
    0% {
      width: 10%;
    }
    50% {
      width: 80%;
    }
    100% {
      width: 10%;
    }
  }
  .main-block-link{
    font-size: 3rem;
  }
  .link{
    height: 150px;
    font-size: 4rem;
  }
  .contacts .tel-mail p{
    font-size: 1.6rem;
  }
   .about_text,.about_text2{
     font-size: 1.6em;
  }
  .content .info-header-tab{
    font-size: 1.3rem;
  }
}
@media(min-width: 1500px){
  .content .info-header-tab{
    font-size: 2rem;
  }
  .content .info-tabcontent .description-title{
    font-size: 4rem;
    border-right-width: 4px;
  } 
  .content .info-tabcontent .description-text{
    font-size: 2.5rem;
  }
  .contacts .tel-mail{
    border-bottom-width: 4px;
  }
  .contacts .tel-mail p{
    font-size: 2.6rem;
  }
  .contacts .tel-mail p a img{
    width: 100px;
  }
  .about_text,.about_text2{
    font-size: 1.4vw;
  }
  .contacts ul.social-media li a img{
    width: 150px;
  } 
  .content .info .other-description .project-date,.content .description-btn{
    font-size: 2rem;
    width: 12vw;
    height: 5vh;
    border-width: 4px;
  }
  .content .photo{
    max-height: 600px;
  }
  .main-block-link{
    font-size: 3vw;
  }
  .main-block-descr{
    font-size: 1.5vw;
  }
  .link{
    height: 15vh;
    font-size: 3vw;
  }
  header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header ul li{
    font-size: 2.3vw;
  }
}