*{
	outline: none;
}
body{
	display: flex;
	flex-direction: column;
	margin: 0px;
	overflow-x:hidden;
	min-width: 320px;
	color: #000;
	font-family: 'Josefin Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: black;
}
header{
	background-color: #ffeb00;	
}
header .wrapper{
	display: flex;
}
.wrapper{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0px 15px 0px 15px;
}
.logo{
  	color: #000;
  	font-size: 30px;
  	font-weight: bold;
  	display: flex;
 	align-items: center;
}
.logo img{
  	display: block;
  	width: 80px;
  	margin-right: 10px;
}
a.logo{
	display: flex;
	text-decoration: none;
}
a.logo:hover, a.logo:active{
	text-decoration: none;
}
a.logo::hover, a.logo::active{
	text-decoration: none;
}
ul#menu{
	padding: 1%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
}
ul#menu li{
	border: 3px solid transparent;
	list-style: none;
}
ul#menu li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	border: 3px solid transparent;
	padding: .6em;
}
ul#menu li a:hover, ul#menu li a:active{
	border-top: 3px solid red;
	border-bottom: 3px solid red;  
}
ul#menu li a::hover, ul#menu li a::active{
	border-top: 3px solid red;
	border-bottom: 3px solid red;  
}
.search{	
	margin: auto 1%;
	padding: 1%;
	display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.search input{
	padding: 2%;
	border: 2px solid transparent;
	max-width: 150px;
}
.search button{
	font-weight: bold;
	background: none;
	padding: 2%;
	border: 2px solid transparent;
}
.search button:hover, .search button:active{
	cursor: pointer;
}
.search button::hover, .search button::active{
	cursor: pointer;
}
.mobile-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  margin-right: 5%;
  transition: all .8s;
  border-radius: 10px;
}
.mobile-bar span{
  display: block;
  height: 3px;
  width: 20px;
  border-radius: 10px;
  margin: 2px auto;
  background-color: black;
}
.mobile-bar.active{
  transform: rotate(90deg);
}
.mobile-bar.active span{
  background-color: black;
}
.toggleMenu {
  background-color: #ffeb00;
  border-top: 3px solid #000;
  position: absolute;
  top:0;
  right:0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s ease 0s;
  padding: 0;
  border-radius: 0 0 10px 10px;
  transform: translate(0px, -100%);
}
.toggleMenu ul.menu li{
  list-style: none;
  color: #000;
  font-size: 1em;
   width: 100vw;
}
.toggleMenu ul{
  letter-spacing: 2px;
  margin:0px;
  list-style: none;
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.toggleMenu a {
  padding: 1em;
  color: #000;
  text-decoration: none;
  border: 3px solid transparent;
  transition: all .1s;
  display: flex;
  justify-content: center;
  font-weight: bold;
  flex: 1 1 auto;
}
.toggleMenu a:hover, .toggleMenu a:active {
  opacity: 1;
  border-bottom: 3px solid red;
  transition: all 0.5s;
}
.toggleMenu a::hover, .toggleMenu a::active {
  opacity: 1;
  border-bottom: 3px solid red;
  transition: all 0.5s;
}
.toggleMenu.active{
  opacity: 1;
  visibility: visible;
  transform: translate(0px,0px);
}
.info .wrapper{
	display: flex;
	padding: 2%;
}
.info-text{
	padding: 2%;
	font-size: 2em;
	flex: 1 1 auto;
}
.info-photo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.info a{
	font-size: 0.8em;
}

#banner{
	position: relative;
}
.banner{
	padding: 50px 0px 50px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: black;
	text-align: right;
}
.title{
  	font-size: 4em;
  	font-weight: bold;
  	color: black;
}
.banner p{
  	margin: 20px 0px;
  	font-size: 2em;
  	font-weight: bold;
}
.btn{
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  padding: 2px;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #ffeb00;
  padding: 10px 15px;
  font-weight: bold;
  transition: background-color .7s;
  cursor: pointer;
}
.btn:hover, .btn:active{
  background-color: #ffeb00;
}
.btn::hover, .btn::active{
  background-color: #ffeb00;
}

.pizza-row{
  display: flex;
  margin-bottom: 2em; 
}
.pizza{
  margin: 2%;
  background-color: #fff;
  flex: 1 1 auto;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pizza button{
  padding: 3%;
}
.pizza-price{
  display: flex;
}
.pizza-price p.price {
  color: black;
  margin-left: 10px;
}
.pizza-price p sup{
  text-decoration: line-through;
  font-size: .8em;
  color: red;
}

footer{
	background-color: #ffeb00;
}
.footer{
	max-width: 1024px;
	margin: 0px auto;
}
.information{
	display: flex;
}
.information_item{
	flex: 1;
	margin-left: 1%;
	margin-right:3%;
}
.information_item .title{
	font-size: 2em;
	padding: 0.5em auto;
	color: #000;
	border-bottom: 2px solid red;
	display: flex;
	justify-content: center;
}
.items ul{
	list-style: none;
	padding: 0.2em 0.2em 0.2em 0em;
}
.items ul li a{
	font-weight: bold;
	font-size: 1.3em;
	color: #000;
	text-decoration: none;
	padding: 0.2em auto;
	border-bottom: 2px solid transparent;
	transition: all 0.5s; 

}
.items ul li a:hover, .items ul li a:active{
	text-decoration: none;
	border-bottom: 2px solid red;
	color:#000;
	padding-left: 5%; 
}
.items ul li a::hover, .items ul li a::active{
	text-decoration: none;
	border-bottom: 2px solid red;
	color:#000;
	padding-left: 5%; 
}

@media(min-width: 1200px){
	.search input{
		max-width: 200px;
	}
}

@media(max-width: 1200px){
	.pizza-row{
  		display: grid;
  		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2,1fr);
  	}
  	ul#menu li a{
		font-size: 1em;
	}
	.info-text{
		font-size: 1.5em;
	}
}
@media(max-width: 856px){
	ul#menu li a{
		font-size: 1em;
	}
	.info-text{
		font-size: 1.2em;
	}
	ul#menu li a{
		font-size: 1.3em;
	}
}
@media(max-width:768px){
	.info-photo{
		display: none;
	}
	ul#menu{
		display: none;
	}
	.logo{
		flex: 1 1 auto;
	}
	.mobile-bar{
		opacity: 1;
		visibility: visible;
	}
	.toggleMenu.active ul.menu{
	  opacity: 1;
	  visibility: visible;
	}
}
@media(max-width: 810px){
	.information{
		display: flex;
		flex-direction: column;
		margin-left: 2%;
	}
}
@media(max-width: 480px){
	.pizza-row{
		display: flex;
		flex-direction: column;
	}
	header .search{
		display: none;
	}
}
