*{
	outline: none;
}
body{
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	height: 100vh;
}
.select{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.change{
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	background-color: #26001B;
}
.lets{
	display: flex;
	justify-content: center;	
}
.lets button.select{
	padding: .7rem 3rem;
}
.from,.to{
	position: relative;
}
.from img,.to img{
	width: 40px;
}
.from p, .to p{
	text-align: center;
	color: white;
	font-weight: bold;
	margin: 0;
	font-size: 2rem;
}
.nosf,.nost{
	position: absolute;
	top: 0;
	right: 0;
	padding: .3rem .8rem;
	background-color: pink;
	color: red;
	font-weight: bold;
	border-radius: 1000px;
	font-size: 1.3rem;
}
button.select{
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #FF005C;
	background-color: #FFF600;
	width: 200px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0;
}
ul.list{
	opacity: 0;
	margin: 0;
	width: 15rem;
	font-size: 1.4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #FF005C;
	background-color: #FFF600;
	width: 200px;
	cursor: pointer;
	flex-direction: column;
	padding: 0;
	box-sizing: border-box;
}
ul.list li{
	text-decoration: none;
	list-style: none;
	width: 100%;
	text-align: center;
}
.input{
	display: flex;
	justify-content: space-around;
}
.input input,.input #to{
	border: 2px solid #FF005C;
	background-color: #FFf;
	width: 200px;
	height: 50px;
	padding: 1%;
	box-sizing: border-box;
	font-weight: bold;
	white-space: pre-wrap;
}
.error{
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	color: red;
	font-weight: bold;
	font-size: 2rem;
	transform: translate(0,500%);
}
.error.active{
	transform: translate(0);
}
.error button{
	margin-top: 2rem; 
	padding: .2rem 3rem;
	background-color: white;
	border: 2px solid red;
	border-radius: 100px;
	font-weight: bold;
	font-size: 3rem;
	cursor: pointer;
}