*{
  outline: none;
}
body{
  background-color: #efefef !important;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
  min-width: 320px;
  margin: 0px;
  color: #333333;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  transition: all 2s;
}
h1,h2,h3,h4,h5,h6{
  color: #fa73ab;
}
.wrapper{
  min-width: 320px;
  max-width: 1110px;
  margin: 0px auto;
}
.header_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav{
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left:0px; 
  font-weight: bold;
}
.nav li{
  padding-right:10px;
  padding-left:10px;
}
.nav li a {
  text-decoration: none;
  color: #333333;
  border: 3px solid transparent;
  padding: .6em;
  font-weight: bold;
}
.nav li a:hover, .nav li a:active{
  text-decoration: none;
  color: #333333;
  border-bottom: 3px solid #fa73ab;
  border-top: 3px solid #fa73ab;
}
.nav li a::hover, .nav li a::active{
  text-decoration: none;
  color: #333333;
  border-bottom: 3px solid #fa73ab;
  border-top: 3px solid #fa73ab;
}
.bg-white{
  background-color: #fff;
  padding: 2%;
}
.logo{
  color: #fa73ab;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.logo img{
  display: block;
  width: 80px;
  margin-right: 10px;
}
.bg-white .wrapper{
  display: flex;
  flex-direction: column;
}
.call span{
  font-size: 16px;
}
.call button{
  font-size: 14px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fa73ab;
  padding: 10px 15px;
  margin-left: 20px;
  transition: background-color .7s;
  font-weight: bold;
}
.call button:hover, .call button:active{
  background-color: #fa73ab;
  cursor: pointer;
}
.call button::hover, .call button::active{
  background-color: #fa73ab;
  cursor: pointer;
}
.header_bottom{
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding: 15px 0px;
}
.header_bottom .nav{
  font-size: 18px;
  margin: 0px;
}
.mobile-bar{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  display: none;
  border-radius: 10px;
  border: 2px solid #fa73ab;
  margin: 1%;
  transition: background-color .7s;
}
.mobile-bar span{
  display: block;
  height: 2px;
  width: 20px;
  margin: 2px;
  background-color: black;
}
.mobile-bar:hover, .mobile-bar:active{
  background-color: #fa73ab;
}
.mobile-bar::hover, .mobile-bar::active{
  background-color: #fa73ab;
}
.banner{
  background-image: url(../img/banner.jpg);
  padding: 50px 0px 150px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: black;
  text-align: right;
}
.title{
  font-size: 3em;
  font-weight: bold;
  color: #fa73ab;
  padding: 2%;
}
.banner p{
  margin: 20px 0px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2%;
}
.btn{
  font-size: 1.5em;
  color: black;
  text-decoration: none;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #fa73ab;
  padding: 2%;
  font-weight: bold;
  transition: background-color .7s;
  cursor: pointer;
  margin: 2%;
}
.btn:hover, .btn:active{
  background-color: #fa73ab;
}
.btn::hover, .btn::active{
  background-color: #fa73ab;
}
#clothes{
  margin-top: 0%;
  margin-bottom: 1%;
  margin-left: 0%;
  margin-right: 1%;
}
h2.title{
  font-size: 3em;
  display: flex;
  justify-content: center;
}
.special-items{
  display: flex;
  flex-direction: column;
}
.special-row{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,1fr);
  margin: 2% auto;
}
.special-item{
  margin: 5%;
  background-color: #fff;
  flex: 1 1 auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
  -moz-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
}
.special-item button{
  padding: 3%;
}
.special-photo img{
  width: 100%;
}
.special-price{
  font-size: 1.5em;
  display: flex;
}
.special-price p.price {
  font-weight: bold;
  color: #fa73ab;
}
.special-price p.price-number {
  color: black;
  margin-left: 10px;
}
.special-price p sup{
  text-decoration: line-through;
  font-size: .8em;
  color: grey;
}

.contacts{
  transition: all 2s;
  display: flex;
  margin-bottom: 2.5%;
  background-color: #fff;
  font-size: 1.5em;
}
.tel-mail{
  flex: 1 1 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tel-mail p{
  display: flex;
  align-items: center;
}
ul.social-media{
  flex: 0 0 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0%;
}
ul.social-media li{
  list-style: none;
}
ul.social-media li a img{
  width: 100px;
}
.tel-mail a{
  color: #333;
  text-decoration: none;
}
.tel-mail a:hover, .tel-mail a:active{
  color: #333;
  text-decoration: none;
}
.tel-mail a::hover, .tel-mail a::active{
  color: #333;
  text-decoration: none;
}

footer{
  background-color: white;
}
.footer_top{
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding: 15px 0px;
}
.footer_top .nav{
  font-size: 18px;
  margin: 0px;
}
.footer_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media(max-width: 480px){
  header.wrapper{
    display: flex;
    flex-direction: column;
  }
  .header_top{
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  .header_bottom .nav{
    display: none;
  }
  .mobile-bar{
    display: flex;
    max-width: 200px;
  }
  .mobile-bar span{
    width: 100px;
  }
  .footer_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer_top{
    display: none;
  }
  nav ul.nav{
    margin: 4%; 
    font-size: 0.5em;
  }
  .logo img{
    width: 40px;
  }
  .logo span{
    font-size: 1em;
  }
  .special-row{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 0% 1% 1% 0%;
  }
  .contacts{
    display: flex;
    flex-direction: column;
  }
  .tel-mail{
    font-size: .7em;
    flex: 1 1 auto;
  }
  ul.social-media li a img {
    width: 40px;
  }
  ul.social-media{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
  }
  .banner .wrapper{
    margin: 2%;
  }
  .title {
    font-size: 2em;
  }
  .banner p{
    font-size: 1.5em;
  }
}
@media(min-width: 480px) and (max-width: 767px){
  header.wrapper{
    display: flex;
    flex-direction: column;
  }
  .header_top{
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  .header_bottom ul.nav li{
    font-size: .7em;
  }
  .footer_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer_top ul.nav li{
    font-size: .7em;
  }
  .logo img{
    width: 40px;
  }
  .logo span{
    font-size: 1em;
  }
  .special-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 0% 1% 1% 1%;
  }
  .special-item{
    margin: 0 5% 2% 0;
  }
  .contacts{
    flex-direction: column;
  }
  .tel-mail{
    font-size: 1.2em;
    flex: 1 1 auto;
  }
  ul.social-media li a img {
    width: 60px;
  }
  ul.social-media{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
  }
}
@media(min-width: 768px) and (max-width: 960px){
  header.wrapper{
    display: flex;
    flex-direction: column;
  }
  .header_top{
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  .header_bottom ul.nav li{
    font-size: .7em;
  }
  .footer_bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer_top ul.nav li{
    font-size: .7em;
  }
  .logo img{
    width: 40px;
  }
  .logo span{
    font-size: 1em;
  }
  .special-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .special-item{
    margin: 0 5% 2% 0;
    padding: 10%;
  }
  .contacts{
    flex-direction: column;
    transition: all 2s;
    display: flex;
    background-color: #fff;
  }
  .tel-mail{
    margin: 0 auto;
    flex-direction: row;
    font-size: 1em;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }
  ul.social-media li a img {
    width: 60px;
  }
  ul.social-media{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
  }
}
@media(min-width: 1300px){
  .special-item{
    padding: 10%;
    border-radius: 10px;
  }
}
