<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Serhii Paziuk - Projects</title>

		<link rel="stylesheet" href="/Vendor/CSS/reset.css">
		<link rel="stylesheet" href="/Vendor/CSS/bootstrap.css">
		<link rel="stylesheet" href="/Vendor/CSS/style.css">

	  <link rel="apple-touch-icon" sizes="180x180" href="/Vendor/Images/Favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/Vendor/Images/Favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/Vendor/Images/Favicons/favicon-16x16.png">
		<link rel="manifest" href="/Vendor/Images/Favicons/site.webmanifest">
		<link rel="mask-icon" href="/Vendor/Images/Favicons/safari-pinned-tab.svg" color="#001fff">
		<meta name="msapplication-TileColor" content="#000fff">
		<meta name="msapplication-TileImage" content="/Vendor/Images/Favicons/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">

	  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

		<!-- SEO -->

			<!-- Description of site - max 135 symbols -->
			<meta name="description" content="Hi, my name is Serhii Paziuk. I can create any website for you. Why? Because I am Full Stack Web Developer. If you need website you can contact me and we will discuss the details of our cooperation.">

			<!-- Keywords of site - max 20 words or 10 keywords over comma -->
			<meta name="keywords" content="website,site,site development,frontend,backend,web developer,full stack,create website">

			<!-- Author of site -->
			<meta name="Author" content="Serhii Paziuk">

			<!-- Copyrights -->
			<meta name="Copyright" content="Serhii Paziuk">

			<!-- Address -->
			<meta name="Address" content="Ukraine">

			<!-- SHARE IN MEDIA (All except Twitter)-->

			<!-- Don`t touch it-->
			<meta property="og:locale" content="en_US">
			<meta property="og:type" content="article">
			<!-- Don`t touch it-->
			
			<!-- Title of share -->
			<meta property="og:title" content="Serhii Paziuk">

			<!-- Description of share -->
			<meta property="og:description" content="Hi, my name is Serhii Paziuk. I can create any website for you. Why? Because I am Full Stack Web Developer. If you need website you can contact me and we will discuss the details of our cooperation.">

			<!-- What image will display in share -->
			<meta property="og:image" content="http://paziuk.github.io/Vendor/Images/logo2.jpg">
			<meta property="og:image:secure_url" content="https://paziuk.github.io/Vendor/Images/logo2.jpg">
			<meta property="og:image:type" content="image/jpg">

			<!-- Site URL -->
			<meta property="og:url" content="https://paziuk.github.io/Vendor/Images/logo2.jpg">

			<!-- Title of site -->
			<meta property="og:site_name" content="Serhii Paziuk">

			<!-- SHARE IN  Twitter -->

			<!-- Don`t touch it-->
			<meta name="twitter:card" content="summary">

			<!-- Name or UserName of author -->
			<meta name="twitter:site" content="Serhii Paziuk">
			<!-- Title of site -->
			<meta name="twitter:title" content="Serhii Paziuk">
			<!-- Description of share -->
			<meta name="twitter:description" content="Hi, my name is Serhii Paziuk. I can create any website for you. Why? Because I am Full Stack Web Developer. If you need website you can contact me and we will discuss the details of our cooperation.">
			<!-- What image will display in share -->
			<meta name="twitter:image" content="https://paziuk.github.io/Vendor/Images/logo2.jpg">

		<!-- SEO -->

	</head>
	<body>
		<div class="navbarCircle"></div>
		<nav class="mainNav">
			<ul class="navbar">
				<li><a link="/">HOME</a></li>
				<li><a link="/#about">ABOUT</a></li>
				<li><a link="">PROJECTS</a></li>
				<li><a link="/#skills">SKILLS</a></li>
			</ul>
		</nav>
		<button class="toggle"><img src="/Vendor/Images/Assets/menu.png" alt="Menu" class="menuBtn"></button>
		<div class="mainContainer">
			<div class="mainContainerBlock">
				<header>
					<nav>
						<ul class="media">
							<li><a href="https://www.facebook.com/paziukSerhiy" target="_blank"><img src="/Vendor/Images/Media/facebook.png" alt="Facebook"></a></li>
							<li><a href="https://www.linkedin.com/in/paziuk" target="_blank"><img src="/Vendor/Images/Media/linkedin.png" alt="Linkedin"></a></li>
							<li><a href="https://github.com/PAZIUK" target="_blank"><img src="/Vendor/Images/Media/github.png" alt="GitHub"></a></li>
						</ul>
					</nav>
				</header>
				<main>
					<section class="projects">Enigma_Skin_Care.png
						<div class="container">
							<h2 class="title">- My Projects -</h2>
							<div class="projectsBlock">
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/TOP_Masonry.png" alt="Project">
									<div class="hoverBlock">
										<a href="https://top-masonry.com" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Enigma_Skin_Care.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/Enigma_Skin_Care/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/MyPIzza.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/MyPIzza/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/ZOZZSO_Online_Study.png" alt="Project">
									<div class="hoverBlock">
										<a href="http://zozrozklad.zzz.com.ua" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Truck_Safety_Courses.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/Truck-Safety-Courses/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Soul_for_Ukraine.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/Soul_for_Ukraine/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Online_Cinema.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/Online_Cinema/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/DiLeMaClothes.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/DiLeMaClothes/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Alisa_Portman_CV.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/Alisa_Portman_CV/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/HealthOfHealth.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/HealthOfHealth/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/CubeTimer.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/CubeTimer/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/2D-Game-Snake.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Games/2D-Game-Snake/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Tic-Tac-Toe.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Games/Tic-Tac-Toe/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Clicker-Game.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Games/Clicker-Game/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/What-A-Number.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Games/What-A-Number/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/Cybersafe.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Sites/Cybersafe/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/NumberConverter.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Programs/NumberConverter/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/RandomItem.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Programs/RandomItem/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/ZodiacSign.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Programs/ZodiacSign/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="/Vendor/Images/Projects/IsItAPalindrome.png" alt="Project">
									<div class="hoverBlock">
										<a href="/Projects/Programs/IsItAPalindrome/index.html" target="_blank">View Project</a>
									</div>
								</div>
							</div>
						</div>	
					</section>
				</main>
				<footer>
					<div class="container">
						<p>Copyright © 2020-<span id="year"></span>. <br class="mobile"> Serhii Paziuk. All Rights Reserved.</p>
					</div>
				</footer>
			</div>
		</div>

		<script src="/Vendor/JS/script.js"></script>

	</body>
</html>