<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Serhii Paziuk - Projects</title>

		<link rel="stylesheet" href="/Vendor/CSS/reset.css">
		<link rel="stylesheet" href="/Vendor/CSS/bootstrap.css">
		<link rel="stylesheet" href="/Vendor/CSS/style.css">

	  <link rel="apple-touch-icon" sizes="180x180" href="/Vendor/Images/Favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/Vendor/Images/Favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/Vendor/Images/Favicons/favicon-16x16.png">
		<link rel="manifest" href="/Vendor/Images/Favicons/site.webmanifest">
		<link rel="mask-icon" href="/Vendor/Images/Favicons/safari-pinned-tab.svg" color="#001fff">
		<meta name="msapplication-TileColor" content="#000fff">
		<meta name="msapplication-TileImage" content="/Vendor/Images/Favicons/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">

	  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

		<!-- SEO -->

			<!-- Description of site - max 135 symbols -->
			<meta name="description" content="I am Serhii Paziuk and I am Full-Stack Software Developer. Since I was 13 years old teenager I have been crazy about developing everything that can help me or people to make our world better and better. And through more than 20 projects I worked with, I can say that my mission was completed. Most of all I am proud of that I developed website for my school, because there was a problem which I solved using web development technologies. And more than 500 students and 40 teachers were grateful to me. Now I am constantly seeking new challenges and opportunities to grow my skills and stay current in the rapidly evolving world of web development. Whether it's building a new website from scratch or improving the functionality and usability of an existing site, I am always focused on delivering the best possible user experience.">

			<!-- Keywords of site - max 20 words or 10 keywords over comma -->
			<meta name="keywords" content="website,web development,full-stack development,front-end development,back-end development,SEO,responsive design,user experience,user interface">

			<!-- Author of site -->
			<meta name="Author" content="Serhii Paziuk">

			<!-- Copyrights -->
			<meta name="Copyright" content="Serhii Paziuk">

			<!-- Address -->
			<meta name="Address" content="Ukraine">

			<!-- SHARE IN MEDIA (All except Twitter)-->

			<!-- Don`t touch it-->
			<meta property="og:locale" content="en_US">
			<meta property="og:type" content="article">
			<!-- Don`t touch it-->
			
			<!-- Title of share -->
			<meta property="og:title" content="Serhii Paziuk">

			<!-- Description of share -->
			<meta property="og:description" content="I am Serhii Paziuk and I am Full-Stack Software Developer. Since I was 13 years old teenager I have been crazy about developing everything that can help me or people to make our world better and better. And through more than 20 projects I worked with, I can say that my mission was completed. Most of all I am proud of that I developed website for my school, because there was a problem which I solved using web development technologies. And more than 500 students and 40 teachers were grateful to me. Now I am constantly seeking new challenges and opportunities to grow my skills and stay current in the rapidly evolving world of web development. Whether it's building a new website from scratch or improving the functionality and usability of an existing site, I am always focused on delivering the best possible user experience.">

			<!-- What image will display in share -->
			<meta property="og:image" content="http://paziuk.github.io/Vendor/Images/Assets/Logo_for_share.jpg">
			<meta property="og:image:secure_url" content="https://paziuk.github.io/Vendor/Images/Assets/Logo_for_share.jpg">
			<meta property="og:image:type" content="image/jpg">

			<!-- Site URL -->
			<meta property="og:url" content="https://paziuk.github.io/Vendor/Images/Assets/Logo_for_share.jpg">

			<!-- Title of site -->
			<meta property="og:site_name" content="Serhii Paziuk">

			<!-- SHARE IN Twitter -->

			<!-- Don`t touch it-->
			<meta name="twitter:card" content="summary">

			<!-- Name or UserName of author -->
			<meta name="twitter:site" content="Serhii Paziuk">
			<!-- Title of site -->
			<meta name="twitter:title" content="Serhii Paziuk">
			<!-- Description of share -->
			<meta name="twitter:description" content="I am Serhii Paziuk and I am Full-Stack Software Developer. Since I was 13 years old teenager I have been crazy about developing everything that can help me or people to make our world better and better. And through more than 20 projects I worked with, I can say that my mission was completed. Most of all I am proud of that I developed website for my school, because there was a problem which I solved using web development technologies. And more than 500 students and 40 teachers were grateful to me. Now I am constantly seeking new challenges and opportunities to grow my skills and stay current in the rapidly evolving world of web development. Whether it's building a new website from scratch or improving the functionality and usability of an existing site, I am always focused on delivering the best possible user experience.">
			<!-- What image will display in share -->
			<meta name="twitter:image" content="https://paziuk.github.io/Vendor/Images/Assets/Logo_for_share.jpg">

		<!-- SEO -->

	</head>
	<body>

		<!-- Navigation -->
		<div class="navbar-circle"></div>
		<nav class="main-navbar">
			<ul class="main-navbar__navbar">
				<li class="main-navbar__link-block link-block rec"><a class="link-block__link" link="/">Home</a></li>
				<li class="main-navbar__link-block link-block rec"><a class="link-block__link" link="/#About">About</a></li>
				<li class="main-navbar__link-block link-block rec"><a class="link-block__link" link="/Views/projects.html">Projects</a></li>
				<li class="main-navbar__link-block link-block rec"><a class="link-block__link" link="/#Reviews">Reviews</a></li>
				<li class="main-navbar__link-block link-block rec"><a class="link-block__link" link="/#Skills">Skills</a></li>
			</ul>
		</nav>
		<button class="toggle-button">
			<img src="/Vendor/Images/Assets/menu.png" alt="Navigation button" class="toggle-button__img">
		</button>

		<!-- Main content -->
		<div class="main-container">
			<div class="main-container__block">

				<header class="main-container__header">
					<nav class="main-container__navigation">
						<a class="main-container__link rec" href="/">Paziuk</a>
					</nav>
				</header>

				<main class="main-container__main-block main-block">
					<section class="main-block__projects-section projects-section mb-0">
						<div class="container">
							<h2 class="title">- My Portfolio -</h2>
							<div class="projects-section__projects projects">
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/TOP_Masonry.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="https://top-masonry.com" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Enigma_Skin_Care.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/Enigma_Skin_Care/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Rosava_Group.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/Rosava_Group/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/ZOZZSO_Online_Study/Main.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="http://zozrozklad.zzz.com.ua" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Soul_for_Ukraine.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/Soul_for_Ukraine/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Truck_Safety_Courses.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/Truck-Safety-Courses/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/MyPIzza.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/MyPIzza/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Online_Cinema.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/Online_Cinema/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Alisa_Portman_CV.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/Alisa_Portman_CV/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/HelloBlogger.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/HelloBlogger/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/DiLeMaClothes.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/DiLeMaClothes/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/HealthOfHealth.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/HealthOfHealth/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/CubeTimer.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Programs/CubeTimer/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/2D-Game-Snake.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Games/2D-Game-Snake/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Tic-Tac-Toe.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Games/Tic-Tac-Toe/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Clicker-Game.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Games/Clicker-Game/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/What-A-Number.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Games/What-A-Number/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/Cybersafe.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Websites/Cybersafe/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/NumberConverter.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Programs/NumberConverter/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/RandomItem.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Programs/RandomItem/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/ZodiacSign.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Programs/ZodiacSign/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
								<div class="projects__project">
									<img class="projects__project__photo" src="/Vendor/Images/Projects/IsItAPalindrome.png" alt="Project">
									<div class="projects__project__hover-block">
										<a href="/Projects/Programs/IsItAPalindrome/index.html" target="_blank" class="projects__project__link revrec">View Project</a>
									</div>
								</div>
							</div>
						</div>	
					</section>
					</section>
				</main>

				<footer class="main-container__footer">
					<div class="container">
						<p class="main-container__footer__paragraph">Copyright © 2020-<span id="year"></span>. <br class="mobile"> Serhii Paziuk. All Rights Reserved.</p>
					</div>
				</footer>
			</div>
		</div>

		<script src="/Vendor/JS/script.js"></script>

	</body>
</html>