<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Serhiy Paziuk</title>

		<link rel="stylesheet" href="../css/reset.css">
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/style.css">

	    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png">
		<link rel="manifest" href="../img/favicons/site.webmanifest">
		<link rel="mask-icon" href="../img/favicons/safari-pinned-tab.svg" color="#001fff">
		<meta name="msapplication-TileColor" content="#000fff">
		<meta name="msapplication-TileImage" content="../img/favicons/mstile-144x144.png">
		<meta name="theme-color" content="#ffffff">

	  	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

		<!-- SEO -->

        <!-- Description of site - max 135 symbols -->
        <meta name="description" content="Hi, my name is Serhiy Paziuk. I can create any website for you. Why? Because I am Full Stack Web Developer. If you need website you can contact me and we will discuss the details of our cooperation.">

        <!-- Keywords of site - max 20 words or 10 keywords over comma -->
        <meta name="keywords" content="website,site,site development,frontend,backend,web developer,full stack,create website">

        <!-- Author of site -->
        <meta name="Author" content="Serhiy Paziuk">

        <!-- Copyrights -->
        <meta name="Copyright" content="Serhiy Paziuk">

        <!-- Address -->
        <meta name="Address" content="Ukraine">

        <!-- SHARE IN MEDIA (All except Twitter)-->

        <!-- Don`t touch it-->
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="article">
        <!-- Don`t touch it-->
        
        <!-- Title of share -->
        <meta property="og:title" content="Serhiy Paziuk">

        <!-- Description of share -->
        <meta property="og:description" content="Hi, my name is Serhiy Paziuk. I can create any website for you. Why? Because I am Full Stack Web Developer. If you need website you can contact me and we will discuss the details of our cooperation.">

        <!-- What image will display in share -->
		<meta property="og:image" content="http://paziuk.github.io/img/logo2.jpg">
		<meta property="og:image:secure_url" content="https://paziuk.github.io/img/logo2.jpg">
		<meta property="og:image:type" content="image/jpg">

        <!-- Site URL -->
        <meta property="og:url" content="https://paziuk.github.io/img/logo2.jpg">

        <!-- Title of site -->
        <meta property="og:site_name" content="Serhiy Paziuk">

        <!-- SHARE IN  Twitter -->

        <!-- Don`t touch it-->
        <meta name="twitter:card" content="summary">

        <!-- Name or UserName of author -->
        <meta name="twitter:site" content="Serhiy Paziuk">
        <!-- Title of site -->
        <meta name="twitter:title" content="Serhiy Paziuk">
        <!-- Description of share -->
        <meta name="twitter:description" content="Hi, my name is Serhiy Paziuk. I can create any website for you. Why? Because I am Full Stack Web Developer. If you need website you can contact me and we will discuss the details of our cooperation.">
        <!-- What image will display in share -->
        <meta name="twitter:image" content="https://paziuk.github.io/img/logo2.jpg">

        <!-- SEO -->

	</head>
	<body>
		<div class="navbarCircle"></div>
		<nav class="mainNav">
			<ul class="navbar">
				<li><a link="../index.html">HOME</a></li>
				<li><a link="../index.html#about">ABOUT</a></li>
				<li><a link="">PROJECTS</a></li>
				<li><a link="../index.html#skills">SKILLS</a></li>
			</ul>
		</nav>
		<button class="toggle"><img src="../img/assets/menu.png" alt="Menu" class="menuBtn"></button>
		<div class="mainContainer">
			<div class="mainContainerBlock">
				<header>
					<nav>
						<ul class="media">
							<li><a href="https://www.facebook.com/paziukSerhiy" target="_blank"><img src="../img/media/facebook.png" alt="Facebook"></a></li>
							<li><a href="https://www.linkedin.com/in/paziuk" target="_blank"><img src="../img/media/linkedin.png" alt="Linkedin"></a></li>
							<li><a href="https://github.com/PAZIUK" target="_blank"><img src="../img/media/github.png" alt="GitHub"></a></li>
						</ul>
					</nav>
				</header>
				<main>
					<section class="projects">
						<div class="container">
							<h2 class="title" style="margin-top: 2rem;">- My Portfolio -</h2>
							<div class="projectsBlock">
								<div class="project">
									<img class="photo" src="../img/project/top-masonry.png" alt="Project">
									<div class="hoverBlock">
										<a href="https://top-masonry.com" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="../img/project/mypizza.png" alt="Project">
									<div class="hoverBlock">
										<a href="../projects/sites/mypizza/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="../img/project/juliemeo.png" alt="Project">
									<div class="hoverBlock">
										<a href="../projects/sites/juliemeo/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="../img/project/dilemaclothes.png" alt="Project">
									<div class="hoverBlock">
										<a href="../projects/sites/dilemaclothes/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="../img/project/iamhealth.png" alt="Project">
									<div class="hoverBlock">
										<a href="../projects/sites/iamhealth/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="../img/project/helloblogger.png" alt="Project">
									<div class="hoverBlock">
										<!-- <div class="heart">
											<img src="img/assets/heart.png" class="active" alt="Heart">
											<img src="img/assets/ukraineHeart.png" alt="Heart">
										</div> -->
										<a href="../projects/sites/helloblogger/index.html" target="_blank">View Project</a>
									</div>
								</div>
								<div class="project">
									<img class="photo" src="../img/project/alisa-portman-CV.png" alt="Project">
									<div class="hoverBlock">
										<a href="../projects/sites/alisa-portman-CV/index.html" target="_blank">View Project</a>
									</div>
								</div>
							</div>
						</div>	
					</section>
				</main>
				<footer>
					<div class="container">
						<p>Copyright © 2020-2022. <br class="mobile"> Serhiy Paziuk. All Rights Reserved.</p>
					</div>
				</footer>
			</div>
		</div>

		<script src="../js/script.js"></script>

	</body>
</html>