*{
	outline: none;
}
body{
	display: flex;
	flex-direction: column;
	margin: 0px;
	overflow-x:hidden;
	min-width: 320px;
	color: #000;
	background-color: #f3f3f3;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  color: #ff3a00;
  margin: 0;
  display: flex;
  justify-content: center;
}
h1{
	margin-top: 2%;
	font-size: 3em;
}
header{
	background-color: #275698;	
}
header.header1 .wrapper{
	display: flex;
}
header.header2{
	display: none;
}
.wrapper{
	max-width: 1280px;
	margin: 0 auto;
}
main .wrapper{
	display: flex;
	flex-direction: column;
}
.logo{
  	color: #fff;
  	font-size: 30px;
  	font-weight: bold;
  	display: flex;
 	align-items: center;
}
.logo img{
  	display: block;
  	width: 80px;
  	margin-right: 10px;
}
a.logo{
	display: flex;
	text-decoration: none;
}
a.logo:hover, a.logo:active{
	text-decoration: none;
}
a.logo::hover, a.logo::active{
	text-decoration: none;
}
ul.menu{
	padding: 1%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1 1 auto;
}
ul.menu li{
	border: 3px solid transparent;
	list-style: none;
}
ul.menu li a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 1.2em;
	border: 3px solid transparent;
	padding: .6em;
}
ul.menu li a:hover, ul.menu li a:active{
	border-top: 3px solid #ff3a00;
	border-bottom: 3px solid #ff3a00;  
}
ul.menu li a::hover, ul.menu li a::active{
	border-top: 3px solid #ff3a00;
	border-bottom: 3px solid #ff3a00;  
}
.search{	
	margin: auto 1%;
	padding: 1%;
	min-width: 300px;
}
.search input{
	padding: 2%;
	border: 2px solid transparent;
	max-width: 150px;
	margin-right: -3px;
	border:3px solid #ff3a00;
	border-right: none;
}
.search button{
	font-weight: bold;
	padding: 2%;
	margin-left: -3px;
	border: 2px solid transparent;
	background-color: #fff;
	border:3px solid #ff3a00;
	border-left: none;
}
.search button:hover, .search button:active{
	cursor: pointer;
}
.search button::hover, .search button::active{
	cursor: pointer;
}
.mobile-bar{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.5em 1em;
	display: none;
	border-radius: 10px;
	border: 3px solid #ff3a00;
	margin: 1%;
	max-width: 30px;
}
.mobile-bar span{
	display: block;
	height: 2px;
	width: 20px;
	margin: 2px;
	background-color: white;
}
.mobile-bar:hover, .mobile-bar:active{
  background-color: #ff3a00;
}
.mobile-bar::hover, .mobile-bar::active{
  background-color: #ff3a00;
}

main .wrapper{
	display: flex;
}
.btn{
	text-decoration: none;
	color: #ff3a00;
	transition: all .7s;
	padding: 4%;
	font-weight: bold;
	cursor: pointer;
}
.btn:hover, .btn:active{
	background-color: #ff3a00;
	color: white;
}
.btn::hover, .btn::active{
	background-color: #ff3a00;
	color: white;
}
.info{
	margin: 1%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
}
.info_box{
	display: flex;
}
.info_box:last-child{
	flex-direction: row-reverse;
}
.info_box::last-child{
	flex-direction: row-reverse;
}
.info_img{
	flex: 1;
	margin: auto 1%;
}
.info_img img{
	width: 100%;
}
.info_text{
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info_text p{
	font-size: 1.6em;
	word-spacing: 3px;
}
.shop{
	display: grid;
	grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}
.shop_box{
	display: flex;
	margin: 5%;
	background-color: #fff;
	padding: 5%;
	border-radius: 10px;
	flex-direction: column;
	-webkit-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	justify-content: center;
	align-items: center;
}
.shop_box_img{
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop_box_img img{
  width: 100%;
}
.shop_box_price{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop_box_price p.price{
  color: black;
  margin-left: 10px;
}
.shop_box_price p.price sup{
  text-decoration: line-through;
  font-size: .8em;
  color: grey;
}
.be-health{
	padding: 1%;
	display:grid;
	grid-template-columns: 1fr 1fr;
}
.be-health_box{
	margin: 1%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	justify-content: center;
	align-items: center;
}
.be-health_box .img{
	margin-bottom: 1%;
	padding-bottom: 1%; 
}
.be-health_box .img img{
	width: 100%;
}
.be-health_box .desc{
	margin-top: 3%;
	padding: 2%;
	display: flex;
	flex-direction: column;
}
.be-health_box .desc .title{
	font-size: 2em;
	font-weight: bold;
	color: #ff3a00;
}
.be-health_box .desc .desc_text{
	margin-top: 3%;
	font-size: 1.2em;
	word-spacing: 3px;
}
.be-health_box .desc .desc_text a:hover,.be-health_box .desc .desc_text a:active{
	border-bottom:2px solid #f00;
	background-color: #f00; 
}
.be-health_box .desc .desc_text a::hover,.be-health_box .desc .desc_text a::active{
	border-bottom:2px solid #f00;
	background-color: #f00; 
}
.assets{
	margin-top: 2%;
	display: flex;
	justify-content: space-between;
}
.news{
	padding: 1%;
	display:grid;
	grid-template-columns: repeat(3, 1fr);
}
.new_box{
	margin: 1%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	-webkit-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
}
.new_box .img{
	margin-bottom: 1%;
	padding-bottom: 1%; 
	display: flex;
	justify-content: center;
}
.new_box .img img{
	width: 100%;
}
.new_box .desc{
	margin-top: 3%;
	padding: 2%;
	display: flex;
	flex-direction: column;
}
.new_box .desc .title{
	font-size: 2em;
	font-weight: bold;
	color: #ff3a00;
}
.new_box .desc .desc_text{
	margin-top: 3%;
	font-size: 1.2em;
	word-spacing: 3px;
}
.new_box .desc .desc_text a:hover,.new_box .desc .desc_text a:active{
	border-bottom:2px solid #f00;
	background-color: #f00; 
}
.new_box .desc .desc_text a::hover,.new_box .desc .desc_text a::active{
	border-bottom:2px solid #f00;
	background-color: #f00; 
}
.new_box .desc .assets{
	margin-top: 2%;
	display: flex;
	justify-content: center;
}
.contacts{
	margin: 1%;
	padding: 2%;
	display: flex;
	background-color: #fff;
	border-radius: 10px;
	font-size: 1.5em;
	transition: all 2s;
	-webkit-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	-moz-box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
	box-shadow: 9px 10px 5px -5px rgba(34, 60, 80, 0.6);
}
.tel-mail{
	flex:1;
	max-width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.tel{
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tel a{
	font-weight: bold;
	font-size: 1.5em;
}
ul li.tel{
	list-style: none;
}
.mail{
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mail img{
	width: 50px;
}
.mail a{
	font-weight: bold;
	font-size: 1.3em;
}
ul.social-media{
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
}
ul.social-media li{
  list-style: none;
}
ul.social-media li a img{
  width: 100px;
}
.tel-mail a{
  color: #333;
  text-decoration: none;
}
.tel-mail a:hover, .tel-mail a:active{
  color: #333;
  text-decoration: none;
}
.tel-mail a::hover, .tel-mail a::active{
  color: #333;
  text-decoration: none;
}
footer{
	background-color: #275698;	
}
footer .wrapper{
	display: flex;
}

@media(max-width: 480px){
	h1{
		margin-top: 2%;
		font-size: 2em;
	}
	ul.menu{
		display: none;
	}
	.mobile-bar{
		display: flex;
	}
	header.header1 .wrapper{
		flex-direction: column;
		justify-content: center;
	}
	.logo{
		font-size: 1.2em;
	}
	.search {
		display: flex;
		justify-content: space-between;
	}
	.search form{
		display: flex;
		justify-content: flex-start;
	}
	.info_box{
		display: flex;
		flex-direction: column;
	}
	.info_box:last-child{
		flex-direction: column;
	}
	.info_box::last-child{
		flex-direction: column;
	}
	.info_text p{
		font-size: 1.2em;
		word-spacing: 3px;
	}
	.info_img img{
		width: 100%;
	}
	.shop{
		display: grid;
		grid-template-columns: repeat(2,1fr);
	    grid-template-rows: repeat(2,1fr);
	}
	.news{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	    grid-template-rows: repeat(3,1fr);
	}
	.be-health{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	    grid-template-rows: repeat(2,1fr);
	}
	.contacts{
		display: flex;
		flex-direction: column;
	}
	ul.social-media li a img{
		width: 60px;
	}
	.tel-mail img{
		display: none;
	}
	.tel a{
		font-size: 1.3em;
	}
	.mail a{
		font-size: 1em;
	}
}
@media(min-width: 480px) and (max-width: 620px){
	header.header2 .wrapper .h2{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.assets a.btn{
		margin: 0 auto; 
	}
	header.header2 .wrapper ul.menu{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1em .5em;
	}
	.assets{
		display: flex;
		flex-direction: column;
	}
}
@media(min-width: 620px) and (max-width: 768px){
	header .wrapper{
		flex-direction: column;
		justify-content: center;
	}
	.search form{
		display: flex;
		justify-content: center;
	}
	header.header1{
		display: none;
	}
	header.header2{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	header.header2 .wrapper .h2{
		display: flex;
	}
	ul.social-media li a img{
		width: 45px;
	}
}
@media(min-width: 480px) and (max-width: 768px){
	header .wrapper{
		flex-direction: column;
		justify-content: center;
	}
	.search form{
		display: flex;
		justify-content: center;
	}
	header.header1{
		display: none;
	}
	header.header2{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	header.header2 .wrapper .h2{
		display: flex;
	}
	ul.menu li a{
		font-size: 1em; 
	}
	.info_box{
		display: flex;
		flex-direction: column;
	}
	.info_box:last-child{
		flex-direction: column;
	}
	.info_box::last-child{
		flex-direction: column;
	}
	.info_text p{
		font-size: 1.2em;
		word-spacing: 3px;
	}
	.info_img img{
		width: 100%;
	}
	.shop{
		display: grid;
		grid-template-columns: repeat(2,1fr);
	    grid-template-rows: repeat(2,1fr);
	}
	.news{
		display: grid;
		grid-template-columns: repeat(2,1fr);
	    grid-template-rows: repeat(3,1fr);
	}
	.be-health{
		display: grid;
		grid-template-columns: repeat(2,1fr);
	    grid-template-rows: repeat(2,1fr);
	}
	.contacts{
		display: flex;
	}
	ul.social-media li a img{
		width: 60px;
	}
	.tel-mail img{
		width: 60px;
	}
	.tel a{
		font-size: .7em;
	}
	.mail a{
		font-size: .7em;
	}
	ul.social-media{
		justify-content: space-around;
	}
	footer .wrapper{
		display: flex;
		flex-direction: column-reverse;
	}
	footer .wrapper .logo {
		display: flex;
		justify-content: center;
	}
}
@media(min-width: 768px) and (max-width: 1024px){
	.info_box{
		display: flex;
	}
	.info_text{
		padding: 2%;
	}
	ul.menu li a{
		font-size: .8em;
	}
}
