@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
*{
	outline: none;
}
:root {
	--clr-bg-body: #b6b0d6;
	--clr-bg-base: #000000;
	--clr-toggle: #ffffff;
}
.switch_container_mom{
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1004;
	padding: .5rem;
	border-radius: 10px;
	display: flex;
	align-items: center;
}
.switch_container_mom img{
	width: 1.5rem;
	opacity: 0;
}
.switch_container_mom img.active{
	opacity: 1;
}
.switch_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 20px;
	cursor: pointer;
}
  
.switch_base {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

#toggler {    
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.switcher_off {
	background-color: white;
	
	position: absolute;
	top: 0;
	left: 0;
}

.switcher_on {
	position: absolute;

	top: 0;
	right: 0px;
	background-color: white;
}
html{
	min-height: 100vh;
}
body{
	overflow-x: hidden;
	display: flex;
	font-family: 'Poppins', sans-serif;
	color: #11101d;
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
}
.PASSWORD{
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all .7s ease;
	transform: translate(0,-500%);
	position: relative;
}
.PASSWORD .nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25rem;
}
.PASSWORD .className{
	font-weight: bold;
	margin-bottom: 3rem;
	font-size: 2rem;
	font-family: 'Rubik', sans-serif;
	z-index: 1002;
	border-radius: 10px;
	padding: .5rem 2rem;
	width: calc(100% - 4rem);
	text-align: center;
	transition: all .7s ease;
	transform: translate(0,-1000%);
}
body.dark .PASSWORD .background{
	background-color: rgba(14,18,45,1)
}

.PASSWORD.active{
	opacity: 1;
	transform: translate(0);
}
.PASSWORD input{
	padding: .7rem 1rem;
	text-align: center;
	font-size: 1.7rem;
	position: relative;
	border: none;
	margin-bottom: 2rem;
	transition: all .7s ease;
	transform: translate(-100vw,0);
	border-radius: 10px;
	z-index: 1002;
	width: calc( 100% - 2rem);
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}
.PASSWORD .errorText{
	font-family: 'Rubik', sans-serif;
	color: white;
	transition: all 1s ease;
	background-color: #ff4343;
	transform: translate(-100vw,0);
	z-index: 1002;
	border-radius: 10px;
	padding: 1rem 2rem;
	width: calc(100% - 4rem);
	text-align: center;
	font-weight: bold;
}
.PASSWORD .errorText.active,.PASSWORD input.active,.PASSWORD button.active,.PASSWORD .className.active{
	transform: translate(0);
}
.PASSWORD button{
	width: 100%;
	border-radius: 10px;
	margin-top: 2rem;
	padding: 0.7rem .5rem;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
	font-family: 'Rubik', sans-serif;
	position: relative;
	border: 2px solid #507cff;
	cursor: pointer;
	transition: all .7s ease;
	background-color: #507cff;
	color: white;
	opacity: .9;
	transform: translate(100vw,0);
	z-index: 1002;
}
.PASSWORD button:hover{
	transform: scale(1.1);
}



body.light .switch_container_mom{
	background-color: white;
}
body.dark .switch_container_mom{
	background-color: rgb(14 18 45);
}
body.light .switch_base {
	background-color: rgb(14 18 45);
	border: 3px solid  rgb(14 18 45);
}
body.dark .switch_base {
	background-color: white;
	border: 3px solid  white;
}
body.light .switch_base .switcher_on, body.light .switch_base .switcher_off{
	background-color: #fff;
}
body.dark .switch_base .switcher_on, body.dark .switch_base .switcher_off{
	background-color: rgb(14 18 45)	;
}
body.light .PASSWORD .className, body.light .PASSWORD input{
	background-color: white;	
	color: rgb(14 18 45);
}
body.dark .PASSWORD .className, body.dark  .PASSWORD input{
	background-color: rgb(14 18 45);	
	color: white;
}
.PASSWORD input::placeholder{
	color: rgb(14 18 45);
}
.background{
	background-size: cover;
	  background-position: center center;
	  background-image: url("../imgZoom/background.jpg"); 
	transform: translate3d(0px, 0px, 0px);
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
  }

@media (max-width:420px) {
	.PASSWORD .className{
		width: calc(100% - 4rem);
	}
	.PASSWORD .nav{
		width: 18rem;
	}
	.PASSWORD input{
		
	}
	.PASSWORD .errorText{
		transform: translate(-300vw,0);
	}
	.PASSWORD input::placeholder{
		font-size: 1.1rem;
	}
	.PASSWORD button{
		padding: .7rem 1rem;
	}
}