@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600;700&display=swap');
*{
	outline: none;
}
html{
	min-height: 100vh;
}
body{
	/*background: linear-gradient(#43CBFF, #9708CC);*/
	/*width: 100vw;*/
	background-color: white;
	display: flex;
	font-family: 'Poppins', sans-serif;
	color: #11101d;
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
}
.PASSWORD{
	background-color: white;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all .7s ease;
	transform: translate(0,-500%);
}
.PASSWORD .className{
	font-weight: bold;
	margin-bottom: 1rem;
	font-size: 2rem;
	opacity: 0;
}
.PASSWORD .className.active{
	opacity: 1;
}
.PASSWORD.active{
	opacity: 1;
	transform: translate(0);
}
.PASSWORD input{
	padding: .5rem 1rem;
	text-align: center;
	font-size: 1.2rem;
	position: relative;
	border: 2px solid #43CBFF;
	margin-bottom: 2rem;
	transition: all .7s ease;
	transform: translate(-100vw,0);
}
.PASSWORD .errorText{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.2rem;
	/*font-weight: bold;*/
	color: white;
	transition: all 1s ease;
	background-color: #ff4343;
	transform: translate(-100vw,0);
	letter-spacing: 1px;
    padding: 0.5rem 0.7rem 0.2rem 0.7rem;
}
.PASSWORD .errorText.active,.PASSWORD input.active,.PASSWORD button.active{
	transform: translate(0);
}
.PASSWORD button{
	margin-top: 2rem;
	padding: 0.5rem 5rem 0.2rem 5rem;
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.6rem;
	position: relative;
	border: 2px solid #43CBFF;
	background-color: white;
	color: white;
	color: black;
	cursor: pointer;
	transition: all .7s ease;
	transform: translate(100vw,0);
}
.PASSWORD button:hover{
	background-color: #43CBFF;
	color: white;
}