@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
*{
	outline: none;
}
html{
	min-height: 100vh;
}
body{
	overflow-x: hidden;
	display: flex;
	font-family: 'Poppins', sans-serif;
	color: #11101d;
	margin: 0;
	min-height: 100vh;
	box-sizing: border-box;
}
.PASSWORD{
	opacity: 0;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all .7s ease;
	transform: translate(0,-500%);
	position: relative;
}
.PASSWORD .nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25rem;
}
.PASSWORD .className{
	font-weight: bold;
	margin-bottom: 3rem;
	font-size: 2rem;
	font-family: 'Rubik', sans-serif;
	z-index: 1002;
	border-radius: 10px;
	padding: .5rem 2rem;
	width: calc(100% - 4rem);
	text-align: center;
	transition: all .7s ease;
	transform: translate(0,-1000%);
	opacity: 0;
}

.PASSWORD.active{
	opacity: 1;
	transform: translate(0);
}
.PASSWORD input{
	padding: .7rem 1rem;
	text-align: center;
	font-size: 1.7rem;
	position: relative;
	border: none;
	margin-bottom: 2rem;
	transition: all .7s ease;
	transform: translate(-100vw,0);
	border-radius: 10px;
	z-index: 1002;
	width: calc( 100% - 2rem);
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
}
.PASSWORD .errorText{
	font-family: 'Rubik', sans-serif;
	color: white;
	transition: all 1s ease;
	background-color: #ff4343;
	transform: translate(-100vw,0);
	z-index: 1002;
	border-radius: 10px;
	padding: 1rem 2rem;
	width: calc(100% - 4rem);
	text-align: center;
	font-weight: bold;
}
.PASSWORD .errorText.active,.PASSWORD input.active,.PASSWORD button.active,.PASSWORD .className.active{
	transform: translate(0);
	opacity: 1;
}
.PASSWORD button{
	width: 100%;
	border-radius: 10px;
	margin-top: 2rem;
	padding: 0.7rem .5rem;
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
	font-family: 'Rubik', sans-serif;
	position: relative;
	border: 2px solid #507cff;
	cursor: pointer;
	transition: all .7s ease;
	background-color: #507cff;
	color: white;
	opacity: .9;
	transform: translate(100vw,0);
	z-index: 1002;
}
.PASSWORD button:hover{
	transform: scale(1.1);
}

body .PASSWORD .className, body .PASSWORD input{
	background-color: white;	
	color: rgb(14 18 45);
}
.PASSWORD input::placeholder{
	color: rgb(14 18 45);
}
.background{
	background-size: cover;
	background-image: url("../imgZoom/background.jpg"); 
	transform: translate3d(0px, 0px, 0px);
	height: 100vh;
	width: 100vw;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	-webkit-animation: 55s linear 0s infinite alternate moveBack;
	   -moz-animation: 55s linear 0s infinite alternate moveBack;
	     -o-animation: 55s linear 0s infinite alternate moveBack;
		    animation: 55s linear 0s infinite alternate moveBack;
}

@media (max-width:420px) {
	.PASSWORD .className{
		width: calc(100% - 4rem);
	}
	.PASSWORD .nav{
		width: 18rem;
	}
	.PASSWORD input{
		
	}
	.PASSWORD .errorText{
		transform: translate(-300vw,0);
	}
	.PASSWORD input::placeholder{
		font-size: 1.1rem;
	}
	.PASSWORD button{
		padding: .7rem 1rem;
	}
}
@-webkit-keyframes moveBack { from { background-position: 20% 50%; } to { background-position: 80% 50%; }  }
   @-moz-keyframes moveBack { from { background-position: 20% 50%; } to { background-position: 80% 50%; }  }
     @-o-keyframes moveBack { from { background-position: 20% 50%; } to { background-position: 80% 50%; }  }
        @keyframes moveBack { from { background-position: 20% 50%; } to { background-position: 80% 50%; }  }
