@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
:root{
    --color-1: #0018ff;
}
body{
    background-color: #00c2ff;
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}
.container{
    margin: 1rem auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.container p.hat{
    background-color: var(--color-1);
    color: white;
    font-weight: bold;
    padding: .4rem .5rem;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 1.5rem 0 0;
}
.container .left,
.container .right{
    display: flex;
    flex-direction: column;
}
.container .left{
    flex: 2;
    margin-right: 1.5rem;
}
.container .right{
    flex: 1;
}
.container .photo{
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.container figure img{
    width: 8rem;
}
.container .sub-container{
    display: flex;
    padding: 3rem 1rem 1rem 1rem;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 10px;
    transform: translate(0,1rem);
}
.container .sub-container .timer,
.container .sub-container .scramble,
.container .sub-container .info,
.container .sub-container .result{
    padding: 1rem 0;
    background-color: white;
    color: black;
    border-radius: 0 0 10px 10px;
}
.container .sub-container .scramble{
    font-weight: 500;
    font-size: 1.3rem;
    padding: 1rem;
}
.container .sub-container .scramble .code{
    text-align: center;
}
.container .sub-container .timer{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    flex: 1 1 auto;
    align-items: center;
    user-select: none;
}
.container .sub-container .timer.red{
    color: #f00;
}
.container .sub-container .timer.green{
    color: #33ff00;
}
.container .sub-container .info{
    padding: 1rem;
    text-align: center;
}
.container .sub-container .info span.spacebar{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: .2rem;
    font-weight: 500;
}
.container .sub-container .result{
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container .sub-container .result .resultsBlock{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container .sub-container .result .result_best{
    width: 100%;
    margin-bottom: 1rem;
}
.container .sub-container .result .resultsBlock_head{
    padding: .5rem;
    background-color:#000033;
    border-radius: 10px 10px 0 0;
    color: white;
    text-align: center;
}
.container .sub-container .result .resultsBlock_body{
    padding: 0 .5rem .5rem;
    background-color:#161638;
    border-radius: 0 0 10px 10px;
    flex: 1 1 auto;
}
.container .sub-container .result .result_other .resultsBlock_body{
    max-height: 10rem;
}
.container .sub-container .result .result_other .resultsBlock_body.resultsBlock_body_scroll{
    overflow-y: scroll;
}
.container .sub-container .result .result_other .resultBlock_resulttime{
    background-color: #ccc;
}
.container .sub-container .result .resultBlock{
    display: flex;
    color: white;
    font-size: .8rem;
    justify-content: space-around;
}
.container .sub-container .result .resultBlock_photo,
.container .sub-container .result .resultBlock_remove{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .sub-container .result .resultBlock_photo img,
.container .sub-container .result .resultBlock_remove img{
    width: 2.5rem;
}
.container .sub-container .result .resultBlock_remove{
    cursor: not-allowed;
}
.container .sub-container .result .resultBlock_remove.resultBlock_remove_allowed{
    cursor: pointer;
}
.container .sub-container .result .resultBlock{
    margin-top: .5rem;
}
.container .sub-container .result .resultBlock_time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: .5rem;
}
.container .sub-container .result .resultBlock_resulttime{
    text-align: center;
    padding: .2rem .5rem;
    margin-top: .15rem;
    font-weight: bold;
    color: #000033;
    border-radius: 10px;
}
.container .sub-container .result .resultBlock_resulttime_1{
    background-color: #ffe272;
}
.container .sub-container .result .resultBlock_resulttime_2{
    background-color: #dbe7f7;
}
.container .sub-container .result .resultBlock_resulttime_3{
    background-color: #f3a666;
}

@media(max-width:991px){
    .container .sub-container{
        flex-direction: column;
    }
    .container .left{
        margin-right: 0;
    }
    .container .sub-container .timer{
        min-height: 50vh;
        font-size: 9rem;
    }
}
@media(max-width:767px){
    .container{
        margin: 1rem;
    }
    .container .sub-container .timer{
        font-size: 6rem;
    }
}
@media(max-width:479px){
    .container .sub-container .timer{
        font-size: 5rem;
    }
    .container .sub-container{
        flex-direction: column;
        padding: 3.5rem .5rem .5rem;
    }
}
@media(max-width:379px){
    .container{
        margin: 1rem .5rem;
    }
    .container .sub-container .timer{
        font-size: 4rem;
    }
    .container p.hat{
        padding: .8rem;
        font-size: 1.5rem;
    }
    .container .sub-container .result .resultBlock_photo img, 
    .container .sub-container .result .resultBlock_remove img{
        width: 1.5rem;
    }
    .container .sub-container .scramble{
        font-size: 1rem;
    }
}
@media(max-width:320px){
    .container .sub-container .result{
        padding: .5rem;
    }
    .container .sub-container .timer{
        font-size: 3rem;
    }
    .container .sub-container .result .resultBlock_time{
        font-size: .7rem;
    }
}