.test1{
	display: flex;
	flex-direction: column;
}
.test1{
	width:100%;
	display: flex;
	justify-content: center;
	padding: .5rem 0;
}
.test1 button{
	margin: .2rem 0;
    border: 1px solid var(--color-2);
    border-radius: 100px;
    background: white;
    padding: .5rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .7s ease;
}
.test1 button:hover,.test1 button.active{
	background:var(--color-2);
	color: white;
}
.test1 button.active{
	transform: scale(1.1);
	color: white;
}
.test1 button.noRight{
	border-color: red;
	color: white;
	background: red;
	cursor: default;
}
.test1 button.right{
	border-color: #00ff0f;
	background: #00ff0f;
	transform: scale(1);
	color: white;
	cursor: default;
}