/*
    Hide horizontal scrollbars.
    Note: Horizontal scrollbars are appearing due to the My Resources panel being
    positioned offscreen.
*/
body
{
    overflow-x:hidden;  
}


/*-------------------------------------------------------------------------*/

/** 
 * (en) Formatting content container 
 * (de) Formatierung der Inhalts-Container 
 * 
 */
 
/** 
 * RM 6-23-2011: Set col1 to zero until such time as we can implement
 * the whole design.
 */
#col1 { float: left; width: 0;  margin:0; } 
#col2 { float: right; width: 40px;  margin:0; } 
#col3 { width: auto; margin: 0 0 0 0; } 
#col1_content { padding: 0; } 
#col2_content { padding: 0; } 
#col3_content { padding: 0; }

/*
* ------------------------------------------------------------------------------------------------- #
*/

/*
* ------------------------------------------------------------------------------------------------- #
*/
/* CONTROLS: Class Tree Menu */
/* Allow text wrapping in a classTree jsTree node.
    NOTE: IE7 adds a line break after the disclosure icon. We need to find a solution to that problem before uncommenting the following style rules.
*/
#classTree{ background: none repeat scroll 0 0 transparent; }
#classTree li { padding-top:4px; }

/*
#classTree {width:80%;}
#classTree a { white-space:normal !important; height: auto; padding:1px 2px; text-indent: -20px; margin-left: 20px;}
#classTree li > ins { vertical-align:top; }
#classTree .jstree-hovered, #classTree .jstree-clicked { border:0; }
*/

/*
* ------------------------------------------------------------------------------------------------- #
*/
/* CLASS NAV */

.classNavWrapper
{
    border:1px black solid;  
    width: 150px;    
}

.classNavReplacer
{
    border-left: 1px solid grey;
    width: 1px;
}

.classNavText
{
    color: white;
}   

.classNavText a
{
    color: white;
}

/*
* ------------------------------------------------------------------------------------------------- #
*/
/* MY RESOURCES PANEL */

#myResourcesPanel {
    position:absolute; 
    display:block; 
    top:0px; 
    right:-250px; 
    height:390px;
}
#myResourcesTab {
    position:absolute;
    top:15px;
    right:100%;
    float:none;
    width:auto;
    margin-right:-1px; 
    border:1px solid #89A;
    border-right:none;
    background:#EAEEF8 url("../images/mainNavIcons/bggradients/bg_myresources_gradient_top_repeat-x.png") repeat-x scroll 50% -15px;
    cursor:pointer;
    
    z-index:10; /* Let's the tab overlap col3 content during interactions */
}
a#myResourcesTabIcon {
    position:relative;
    display:block;
    height:70px;
    width:34px;
    border:1px solid #EEF;
    border-right:none;
    background:transparent url("../images/lms/myresources_tab_icon_sprite.png") scroll no-repeat 50% -90px;
    outline:0 none;
}
/* hover interactivity */
#myResourcesTab:hover { background-position:50% 100%; } /* brighter end of the bg img */
a#myResourcesTabIcon:hover { background-position:50% 10px; }/* brighter end of the img sprite */
.myresources_closed #myResourcesTab:hover {width:40px;} /* extends the tab away from the viewport ONLY when the panel is closed */
/* END hover interactivity */
#myResourcesTabState {
    position:absolute;
    display:block;
    right:100%;
    margin-right:1px; /* width value of parent border */
    height:70px;
    width:7px;
    background:transparent url("../images/lms/controls/indicator_arrow_sprite.png") scroll no-repeat 100% 50%;
}
.myresources_open #myResourcesTabState { /* open panel state changes */
    right:auto;
    left:0;
    margin-left:-2px; /* width value of both parent borders */
    background-position:0 50%; /* reveals right arrow */
}


/*span#myResourcesHeading {
    position:absolute;
    top:0;
    padding:.5em 0;
    margin:0;
    width:100%;
    text-align: left;
    color:#445;
    font-size:15px;
    font-weight: bold;
}*/  

span#myResourcesHeading {
	padding: 0 0 0 10px;
	line-height: 30px;
	color:#445;
    font-size:15px;
    font-weight: bold;
    margin: 0;
}

.myResources img {
	position: absolute;
    top: 8px;
    right: 6px;
	float: right;
}

#myResourcesTreePanel {
    display:block; 
    width:250px; 
    height:390px;
    background:#EAEEF8 url("../images/mainNavIcons/bggradients/bg_myresources_gradient_top_repeat-x.png") repeat-x scroll 50% 0;
}
#myResourcesContent {
    width:100%; 
    height:390px; 
}

#myResourcesSliderIconDiv {
    background-repeat: no-repeat;   
    z-index: -10;
    padding-right: 2px;
    padding-top: 3px;
    float: left;
}

#myResourcesSliderLinkDiv
{	
	padding-right: 10px;
}

#myResourcesSliderLinkDiv a {
    text-decoration: none;
    color: black;
}

.myResourcesSliderIconOpen {
    display: block;
    width: 7px;
    height: 8px;
    background:transparent url("../images/lms/open-slider_black.png") no-repeat bottom;
    text-indent: -99999px;
}

.myResourcesSliderIconClosed {
    display: block;
    width: 7px;
    height: 8px;
    background: url("../images/lms/close-slider_black.png") no-repeat bottom;
    text-indent: -99999px;
}

/* ----------------------------------------------------------------------- */
/* wrapper around repositoryTree */
/* ----------------------------------------------------------------------- */

/* override default a coloring */
.repositoryListText a {
    color: black;
}
#repositoryTreeOuterContainer {
    height:auto;
    border:1px solid #89A;
    border-right:none;
    background:#EAEEF8 url("../images/mainNavIcons/bggradients/bg_myresources_gradient_top_repeat-x.png") repeat-x scroll 50% 0;
}

.buttonBar .reposMenuLeft
{
    padding-top: 5px;
}

.portlet #repositoryTreeOuterContainer, .draggableByHandle #repositoryTreeOuterContainer {
    padding-top:0px;
}

.repositoryListClass {
    overflow-y:hidden;
    overflow-x:hidden;
    visibility:hidden;
    padding:4px;
    height:390px;
    background:none !important;
}

.buttonBar {
    background-color: #556;
    border: 1px solid #445;
    height: 25px;
    padding-left:10px;
}

.storageReportClass 
{
    color:white;
    text-align:right;
    padding-top:4px;
}

.myResourcesForm
{
    z-index:18;
    position:absolute;
    display:none;
    background-color: #EAEEF8;
}

#inputtFormContents
{
    height:500px;
    width:100%; 
}


#assignmentArea
{
    width:100%;
    display:none;
    background-color:lightgray;
    padding-bottom:130px;
}

#curriculumChartPanel
{
    width:800px;
    padding:0px;
    position:absolute;
    top:100px;
    left:18px;
    z-index:19;
    display:none;
    background-color:white;
    border:1px solid gray;
}

#curriculumChartPanel .draggableHandle {
    cursor: move;
}

#curriculumChartPanel .draggableHandle img:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity:0.5;
    cursor: pointer;
}

#curriculumChartPanelContent
{
    padding:8px;
    max-height:500px;
    overflow-y:auto;
    overflow-x:hidden;
}

#curriculumChartPanelContent > table td:last-child {
    text-align: right;
}

.jstree li
{
    margin-left:10px;
}

/*
* ------------------------------------------------------------------------------------------------- #
*/
/* Content list (for items selected from My Resources) */
.contentListItem
{
    width:240px;
    display:inline-block;
    margin-bottom:4px;
    margin-right:8px;
    background-color:#eeeeee;
    padding:2px;
    padding-left:4px;
    line-height:20px;
    height:20px;
    border: 1px solid #999999;
    overflow:auto;
    
    -moz-border-radius-topleft: 4px; /* Firefox */
    -webkit-border-top-left-radius: 4px; /* Safari, Chrome */
    border-top-left-radius: 4px; /* CSS3 */
    
    -moz-border-radius-bottomleft: 4px; /* Firefox */
    -webkit-border-bottom-left-radius: 4px; /* Safari, Chrome */
    border-bottom-left-radius: 4px; /* CSS3 */
    
    -moz-border-radius-topright: 4px; /* Firefox */
    -webkit-border-top-right-radius: 4px; /* Safari, Chrome */
    border-top-right-radius: 4px; /* CSS3 */
    
    -moz-border-radius-bottomright: 4px; /* Firefox */
    -webkit-border-bottom-right-radius: 4px; /* Safari, Chrome */
    border-bottom-right-radius: 4px; /* CSS3 */ 
}

/*
* ------------------------------------------------------------------------------------------------- #
*/
/* CONTROLS: scrollers */

.scroller_vpanel {
position:relative;
padding:20px 0; /* provide space for .scroller_vcontrol at top and bottom & must be greater than height of 'a.scroller_vcontrol' */
min-height:360px; /* DEMO ONLY */
}

/* State Disabled */
.scroller_vup.disabled a.scroller_vcontrol:focus, .scroller_vup.disabled a.scroller_vcontrol:hover, .scroller_vup.disabled a.scroller_vcontrol:active { background-position: 50% 1px; } /* 50px shift difference from rest state */
.scroller_vdown.disabled a.scroller_vcontrol:focus, .scroller_vdown.disabled a.scroller_vcontrol:hover, .scroller_vdown.disabled a.scroller_vcontrol:active { background-position: 50% -147px; } /* 50px shift difference from rest state */
.disabled a.scroller_vcontrol {
    cursor:default;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=33)"; /* for IE8 */
    filter: alpha(opacity=33); /* IE5-7 */
    opacity:.33;
}

.scroller_control_wrapper {
position:relative;
display:block;
left:0;
width:100%;
text-align:center;
}
.scroller_control_wrapper.scroller_vup {
top:1px;
margin-top:5px;
background:transparent url("../images/mainNavIcons/bggradients/divider_h_trans_000_trans_200px.png") no-repeat scroll 50% bottom;
}
.scroller_control_wrapper.scroller_vdown {
bottom:1px;
background:transparent url("../images/mainNavIcons/bggradients/divider_h_trans_000_trans_200px.png") no-repeat scroll 50% top;
}

a.scroller_vcontrol {
position:relative;
display:block;
margin:0;
padding:2px;
width:auto;
height:12px;
cursor:pointer;
}
.scroller_vup a.scroller_vcontrol {
background:transparent url("../images/lms/controls/scroller_vertical_sprite.png") no-repeat scroll 50% 1px;
}
.scroller_vdown a.scroller_vcontrol {
background:transparent url("../images/lms/controls/scroller_vertical_sprite.png") no-repeat scroll 50% -147px;
}
.scroller_vup a.scroller_vcontrol:focus, .scroller_vup a.scroller_vcontrol:hover, .scroller_vup a.scroller_vcontrol:active { background-position: 50% -49px; } /* 50px shift difference from rest state */
.scroller_vdown a.scroller_vcontrol:focus, .scroller_vdown a.scroller_vcontrol:hover, .scroller_vdown a.scroller_vcontrol:active { background-position: 50% -97px; } /* 50px shift difference from rest state */

.scroller_vup a.scroller_vcontrol:active { background-position: 50% -50px; } /* 1px shift difference from hover state */
.scroller_vdown a.scroller_vcontrol:active { background-position: 50% -96px; } /* 1px shift difference from hover state */

a.scroller_vcontrol em {
position:absolute;
left:-9999px;
text-indent:-9999px;
}

/* END MY RESOURCES PANEL */
/*
* ------------------------------------------------------------------------------------------------- #
*/


/* CSS Document */
/* FSC DESIGN STYLES */



/* FOLLOW my_layout.css IMPORT ORDER to EXTEND BASE SHEETS */
/* EXTEND /yaml/core/base.css */
/* EXTEND /yaml/navigation/nav_slidingdoor.css */
/* EXTEND /screen/basemod.css */
/* EXTEND /screen/content.css */
/* EXTEND /yaml/print/print_draft.css */
/* EXTEND /yaml/print/print_003_draft.css */


/* CSS3 Limitations in IE 7 8 9 
    require some sort of strategy if we are to use the CSSs styles
    we need without providing multiple ways per browser

    SEE: http://css3pie.com/documentation/product-comparison/
    SEE: http://ecsstender.org/
    SEE: http://code.google.com/p/ie7-js/
*/


/*
* ------------------------------------------------------------------------------------------------- #
*/
/* MOD nav_slidingdoor.css HERE */

/* NOTES:
* Adjust paths to THIS .css file location
* UPDATED due to the ORIG mechanics swapping out the <a> tag for a <strong> tag when 'active'.
* <strong> tag removed in html.
*/

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * (en) Modifying "shiny buttons" navigation
  * (en) Anpassung der "Shiny Buttons" Navigation
  */

  .hlist {
    /* (en) containing floats in IE */
    /* (de) Einfassen der Floats im IE */
    width:100%;
    overflow:auto;
    /* (en) containing floats in all other browsers */
    /* (de) Einfassen der Floats in allen anderen Browsern */
    float:left;
    display:inline;
    /* (en|de) Bugfix:IE - collapsing horizontal margins */
    position:relative;
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    background:none;
    border-top:none;
    border-bottom:none;
    line-height:0;
  }

  .hlist ul {
    margin:0;
    padding:0;
    /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
    display:inline;
    float:left; /* LTR */
    /* (en) Left margin of the first button  */
    /* (de) Abstand des ersten Buttons vom linken Rand  */
    border-left:none;
    border-right:none;
  }

  .hlist ul li {
    border-left:1px #668 solid;
    border-right:1px #224 solid;
    /* (en|de) Bugfix:IE - Doubled Float Margin Bug */
    display:inline;
    float:left; /* LTR */
    font-size:1.0em;
    line-height:1em;
    list-style-type:none;
    margin:0;
    padding:0;
  }

  .hlist ul li a,
  .hlist ul li strong {
    background:transparent;
    color:#CCD;
    display:block;
    font-size:1em;
    font-weight:bold;
    margin:0;
    padding:0.5em 0.8em 0.5em 0.8em;
    text-decoration:none;
    width:auto;
  }

  .hlist ul li a:focus,
  .hlist ul li a:hover,
  .hlist ul li a:active  { background:none; color:#EEF; text-decoration:none; outline: 0 none; }

  .hlist ul li.active {
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    background:#272727 url("images/shiny_buttons/background_active.png") repeat-x center right;
    border-left:1px #668 solid;
    border-right:1px #224 solid;
  }

  .hlist ul li.active strong,
  .hlist ul li.active a:focus,
  .hlist ul li.active a:hover,
  .hlist ul li.active a:active { background:transparent; color:#fff; text-decoration:none; }


/* END MOD nav_slidingdoor.css HERE */
/*
* ------------------------------------------------------------------------------------------------- #
*/

/* 
Settings for the Options/Reports/Help bar 
*/

/*These are not set appropriately for the Planner page for some reason*/
#options, #reportsMenu, #helpMenu {
    font-family:Arial;
    font-size: small;
}

/*
* ------------------------------------------------------------------------------------------------- #
*/
/* MOD /screen/basemod.css */

@media screen, projection {

  /* (en) Marginal areas & page background */
  /* (de) Randbereiche & Seitenhintergrund */
  /*body { background:#EEEEFF url("../images/bg_body_XXXXX.png") repeat-x 50% top scroll; padding:0; }*/

  /* Layout Alignment | Layout-Ausrichtung */
  .page_margins { }

  /* Layout Properties | Layout-Eigenschaften */
  .page_margins { background:none; overflow:auto;}
  .page { padding:0; overflow:auto;} /* overflow:auto is a Fix for an IE7 bug in the controlPanel div. */
  #header { padding:0; background:none; }
  #nav { overflow:auto; }
  #main { margin:0; background:none; }
  #footer { padding: 10px 20px; color:#666; background: none; border:none; }

  /* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
  #nav ul { margin-left:0; }

}
/* END @media screen, projection */

/* END MOD /screen/basemod.css */
/*
* ------------------------------------------------------------------------------------------------- #
*/


/*
* ------------------------------------------------------------------------------------------------- #
*/
/* MOD /screen/content.css */



/*--- Links ----------------------------------------------------------------------------------------- */

/* a:visited  { color:#036; } */

/* (en) maximum constrast for tab focus - change with great care */
/* (en) Maximaler Kontrast f�r Tab Focus - �ndern Sie diese Regel mit Bedacht */
/*a:focus { text-decoration:underline; color:#000; background:#fff; outline:3px #f93 solid; }
/*a:hover,
/*a:active { color:#182E7A; text-decoration:underline; outline:0 none; }

}
/* END @media all */

/* END MOD /screen/content.css */
/*
* ------------------------------------------------------------------------------------------------- #
*/





/*
* ------------------------------------------------------------------------------------------------- #
*/
/* NEW ADDITIONS TO STYLE AS COGNITE APP */


.page {
background:#EAEEF8 url("../images/mainNavIcons/bggradients/bg_page_gradient_bottom_repeat-x.png") 50% bottom repeat-x scroll;
}


/*
.page {
    background-color:#ffffff;
}
*/

#header {
position:relative;
}
 
#header .lms_nav_main { /* Default */ /* NOTE; bg color has to match repeating bg image's edge */
border-bottom:2px solid #FFF;
background:#8c96aa url("../images/mainNavIcons/bggradients/bg_header_mainnav_top_repeat-x.png") 50% top repeat-x scroll;
}
#header .lms_nav_main .hlist { /* Default */
background:transparent url("../images/mainNavIcons/bggradients/bg_header_top_dropshadow_with_gradient_1.png") 50% top repeat-x scroll;
}
#header .lms_subnav_main { /* Default */
background:#445 url("../images/mainNavIcons/bggradients/bg_header_top_dropshadow_with_gradient_1.png") 50% top repeat-x scroll;
}
/* Header toolbar colors to match tab location */
body.page_dashboard #header .lms_subnav_main { background-color:#445; }
body.page_myinfo #header .lms_subnav_main { background-color:#cc3300; }
body.page_student #header .lms_subnav_main { background-color:#ff6600; }
body.page_attendance #header .lms_subnav_main { background-color:#ff9900; }
body.page_gradebook #header .lms_subnav_main { background-color:#336600; }
body.page_planner #header .lms_subnav_main { background-color:#669900; }
body.page_quest #header .lms_subnav_main { background-color:#193366; }
body.page_pd #header .lms_subnav_main { background-color:#1966b2; }
body.page_tools #header .lms_subnav_main { background-color:#661966; }
/* Student View specific additions */
body.page_academics #header .lms_subnav_main { background-color:#FF4D00; }
body.page_extras #header .lms_subnav_main { background-color:#FF7F00; }
body.page_calendar #header .lms_subnav_main { background-color:#1A4D00; }
body.page_locker #header .lms_subnav_main { background-color:#0D4DA6; }
/* END Header toolbar colors to match tab location */


#main {
min-height:500px;
}

/*
* ------------------------------------------------------------------------------------------------- #
*/
/** STYLE the TOP TABS for UX

/* CENTERING tabs: http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support 
#nav .hlist {
position:relative;
float:left;
width:100%;
overflow:auto;
background-color:transparent;
}
#nav .hlist ul {
position:relative;
clear:left;
float:left;
left:50%;
margin:0;
}
#nav .hlist li {
position:relative;
display:block;
float:left;
right:50%;
}
/* END CENTERING tabs: http://matthewjamestaylor.com/blog/beautiful-css-centered-menus-no-hacks-full-cross-browser-support 


#nav .hlist li { /* Default Tabs 
overflow:auto;
margin:0;
padding:8px 4px 4px;

height:80px; /* arbitrary height enough to be large enough for BOTH sized buttons and so the hover bgs can be same height 

/* clear borders 
border:none;
/* clear BGs 
background:none;
/* Add a space for the label 
padding-bottom:1.1em;
}
#nav .hlist li a { /* Default Tabs
position:relative;
padding-top:0;
padding-right:0;
padding-left:0;
/* LET padding-bottom cascade from previous rules 
height:64px;
width:64px;
top:5px; /* top offset for a vertical centered illusion
background:none;
}
#nav .hlist li.active { /* SELECTED TAB
}
#nav .hlist li.active a { /* SELECTED TAB
height:72px;
width:72px;
top:0px; /* RESET the top offset for a vertical centered illusion 
}
.navbtn_label { /* Default
position:absolute;
display:block;
left:0;
top:100%;
margin:0;
padding:0;
width:100%;
text-align:center;
font-style:normal;
}
.navbtn_icon { /* Default 
position:absolute;
top:0;
right:0;
height:100%;
width:100%;
background:transparent url("../images/mainNavIcons/dashboard.png") no-repeat scroll 50% 0px;
}
#nav .hlist li:focus, #nav .hlist li:hover, #nav .hlist li:active {
background:transparent url("../images/mainNavIcons/bggradients/bg_grad_vert_000_trans_25-15-25.png") repeat-x scroll 50% 0px;
}
#nav .hlist li.active {
background:transparent url("../images/mainNavIcons/bggradients/bg_grad_vert_000_trans_25-15-25.png") repeat-x scroll 50% 0px;
}


/* Rest State @ icon  
li#dashboard .navbtn_icon { background-image:url("../images/mainNavIcons/dashboard.png");}
li#mystuff .navbtn_icon { background-image:url("../images/mainNavIcons/mystuff.png");}
li#myInfo .navbtn_icon { background-image:url("../images/mainNavIcons/mystuff.png");}
li#student .navbtn_icon { background-image:url("../images/mainNavIcons/student.png");}
li#attendance .navbtn_icon { background-image:url("../images/mainNavIcons/attendance.png");}
li#gradebook .navbtn_icon { background-image:url("../images/mainNavIcons/gradebook.png");}
li#planner .navbtn_icon { background-image:url("../images/mainNavIcons/planner.png");}
li#quest .navbtn_icon { background-image:url("../images/mainNavIcons/quest.png");}
li#pd .navbtn_icon { background-image:url("../images/mainNavIcons/pd.png");}
li#tools .navbtn_icon { background-image:url("../images/mainNavIcons/tools.png");}
/* Student View specific additions 
li#academics .navbtn_icon { background-image:url("../images/mainNavIcons/academics.png");}
li#extras .navbtn_icon { background-image:url("../images/mainNavIcons/extras.png");}
li#calendar .navbtn_icon { background-image:url("../images/mainNavIcons/calendar.png");}
li#locker .navbtn_icon { background-image:url("../images/mainNavIcons/locker.png");}


/* Hover State @ icon  
li a:focus .navbtn_icon, li a:hover .navbtn_icon, li a:active .navbtn_icon, /* <-- Default Simple Selectors 

li#dashboard a:focus .navbtn_icon, li#dashboard a:hover .navbtn_icon, li#dashboard a:active .navbtn_icon, 
li#mystuff a:focus .navbtn_icon, li#mystuff a:hover .navbtn_icon, li#mystuff a:active .navbtn_icon,
li#myInfo a:focus .navbtn_icon, li#myInfo a:hover .navbtn_icon, li#myInfo a:active .navbtn_icon, 
li#student a:focus .navbtn_icon, li#student a:hover .navbtn_icon, li#student a:active .navbtn_icon, 
li#attendance a:focus .navbtn_icon, li#attendance a:hover .navbtn_icon, li#attendance a:active .navbtn_icon, 
li#gradebook a:focus .navbtn_icon, li#gradebook a:hover .navbtn_icon, li#gradebook a:active .navbtn_icon, 
li#planner a:focus .navbtn_icon, li#planner a:hover .navbtn_icon, li#planner a:active .navbtn_icon, 
li#quest a:focus .navbtn_icon, li#quest a:hover .navbtn_icon, li#quest a:active .navbtn_icon, 
li#pd a:focus .navbtn_icon, li#pd a:hover .navbtn_icon, li#pd a:active .navbtn_icon, 
li#tools a:focus .navbtn_icon, li#tools a:hover .navbtn_icon, li#tools a:active .navbtn_icon, 
/* Student View specific additions 
li#academics a:focus .navbtn_icon, li#academics a:hover .navbtn_icon, li#academics a:active .navbtn_icon, 
li#extras a:focus .navbtn_icon, li#extras a:hover .navbtn_icon, li#extras a:active .navbtn_icon, 
li#calendar a:focus .navbtn_icon, li#calendar a:hover .navbtn_icon, li#calendar a:active .navbtn_icon, 
li#locker a:focus .navbtn_icon, li#locker a:hover .navbtn_icon, li#locker a:active .navbtn_icon
{ background-position: 50% -100px; }


/* Rest State @ SELECTED icon  
li.active a .navbtn_icon, /* <-- Default Simple Selectors 

li#dashboard.active a .navbtn_icon,
li#mystuff.active a .navbtn_icon, 
li#myInfo.active a .navbtn_icon, 
li#student.active a .navbtn_icon, 
li#attendance.active a .navbtn_icon, 
li#gradebook.active a .navbtn_icon, 
li#planner.active a .navbtn_icon,
li#quest.active a .navbtn_icon,
li#pd.active a .navbtn_icon,
li#tools.active a .navbtn_icon,
/* Student View specific additions 
li#academics.active a .navbtn_icon,
li#extras.active a .navbtn_icon,
li#calendar.active a .navbtn_icon,
li#locker.active a .navbtn_icon
{ background-position: 50% -400px;}


/* Hover State @ SELECTED icon  
li.active a:focus .navbtn_icon, li.active a:hover .navbtn_icon, li.active a:active .navbtn_icon,  /* <-- Default Simple Selectors 

li#dashboard.active a:focus .navbtn_icon, li#dashboard.active a:hover .navbtn_icon, li#dashboard.active a:active .navbtn_icon, 
li#mystuff.active a:focus .navbtn_icon, li#mystuff.active a:hover .navbtn_icon, li#mystuff.active a:active .navbtn_icon, 
li#myInfo.active a:focus .navbtn_icon, li#myInfo.active a:hover .navbtn_icon, li#myInfo.active a:active .navbtn_icon, 
li#student.active a:focus .navbtn_icon, li#student.active a:hover .navbtn_icon, li#student.active a:active .navbtn_icon, 
li#attendance.active a:focus .navbtn_icon, li#attendance.active a:hover .navbtn_icon, li#attendance.active a:active .navbtn_icon, 
li#gradebook.active a:focus .navbtn_icon, li#gradebook.active a:hover .navbtn_icon, li#gradebook.active a:active .navbtn_icon, 
li#planner.active a:focus .navbtn_icon, li#planner.active a:hover .navbtn_icon, li#planner.active a:active .navbtn_icon, 
li#quest.active a:focus .navbtn_icon, li#quest.active a:hover .navbtn_icon, li#quest.active a:active .navbtn_icon, 
li#pd.active a:focus .navbtn_icon, li#pd.active a:hover .navbtn_icon, li#pd.active a:active .navbtn_icon, 
li#tools.active a:focus .navbtn_icon, li#tools.active a:hover .navbtn_icon, li#tools.active a:active .navbtn_icon,
/* Student View specific additions
li#academics.active a:focus .navbtn_icon, li#academics.active a:hover .navbtn_icon, li#academics.active a:active .navbtn_icon,
li#extras.active a:focus .navbtn_icon, li#extras.active a:hover .navbtn_icon, li#extras.active a:active .navbtn_icon,
li#calendar.active a:focus .navbtn_icon, li#calendar.active a:hover .navbtn_icon, li#calendar.active a:active .navbtn_icon,
li#locker.active a:focus .navbtn_icon, li#locker.active a:hover .navbtn_icon, li#locker.active a:active .navbtn_icon
{ background-position: 50% -500px; }


/* Hover State @ label 
li a:focus .navbtn_label, li a:hover .navbtn_label, li a:active .navbtn_label,  /* <-- Default Simple Selectors 

li#dashboard a:focus .navbtn_label, li#dashboard a:hover .navbtn_label, li#dashboard a:active .navbtn_label, 
li#mystuff a:focus .navbtn_label, li#mystuff a:hover .navbtn_label, li#mystuff a:active .navbtn_label, 
li#myInfo a:focus .navbtn_label, li#myInfo a:hover .navbtn_label, li#myInfo a:active .navbtn_label, 
li#student a:focus .navbtn_label, li#student a:hover .navbtn_label, li#student a:active .navbtn_label, 
li#attendance a:focus .navbtn_label, li#attendance a:hover .navbtn_label, li#attendance a:active .navbtn_label, 
li#gradebook a:focus .navbtn_label, li#gradebook a:hover .navbtn_label, li#gradebook a:active .navbtn_label, 
li#planner a:focus .navbtn_label, li#planner a:hover .navbtn_label, li#planner a:active .navbtn_label, 
li#quest a:focus .navbtn_label, li#quest a:hover .navbtn_label, li#quest a:active .navbtn_label, 
li#pd a:focus .navbtn_label, li#pd a:hover .navbtn_label, li#pd a:active .navbtn_label, 
li#tools a:focus .navbtn_label, li#tools a:hover .navbtn_label, li#tools a:active .navbtn_label,
/* Student View specific additions 
li#academics a:focus .navbtn_label, li#academics a:hover .navbtn_label, li#academics a:active .navbtn_label,
li#extras a:focus .navbtn_label, li#extras a:hover .navbtn_label, li#extras a:active .navbtn_label,
li#calendar a:focus .navbtn_label, li#calendar a:hover .navbtn_label, li#calendar a:active .navbtn_label,
li#locker a:focus .navbtn_label, li#locker a:hover .navbtn_label, li#locker a:active .navbtn_label
{ background-color:none; color:#EEF;} 


/* Rest State @ SELECTED label  
li.active a .navbtn_label, /* <-- Default Simple Selectors 

li#dashboard.active a .navbtn_label,
li#mystuff.active a .navbtn_label, 
li#myInfo.active a .navbtn_label, 
li#student.active a .navbtn_label, 
li#attendance.active a .navbtn_label, 
li#gradebook.active a .navbtn_label, 
li#planner.active a .navbtn_label, 
li#quest.active a .navbtn_label, 
li#pd.active a .navbtn_label, 
li#tools.active a .navbtn_label,
/* Student View specific additions 
li#academics.active a .navbtn_label,
li#extras.active a .navbtn_label,
li#calendar.active a .navbtn_label,
li#locker.active a .navbtn_label
{ background-color:none; color:#EEF; font-weight:bold;} 


/* Hover State @ SELECTED label  
li.active a:focus .navbtn_label, li.active a:hover .navbtn_label, li.active a:active .navbtn_label, /* <-- Default Simple Selectors */

li#dashboard.active a:focus .navbtn_label, li#dashboard.active a:hover .navbtn_label, li#dashboard.active a:active .navbtn_label, 
li#mystuff.active a:focus .navbtn_label, li#mystuff.active a:hover .navbtn_label, li#mystuff.active a:active .navbtn_label, 
li#myInfo.active a:focus .navbtn_label, li#myInfo.active a:hover .navbtn_label, li#myInfo.active a:active .navbtn_label, 
li#student.active a:focus .navbtn_label, li#student.active a:hover .navbtn_label, li#student.active a:active .navbtn_label, 
li#attendance.active a:focus .navbtn_label, li#attendance.active a:hover .navbtn_label, li#attendance.active a:active .navbtn_label, 
li#gradebook.active a:focus .navbtn_label, li#gradebook.active a:hover .navbtn_label, li#gradebook.active a:active .navbtn_label, 
li#planner.active a:focus .navbtn_label, li#planner.active a:hover .navbtn_label, li#planner.active a:active .navbtn_label, 
li#quest.active a:focus .navbtn_label, li#quest.active a:hover .navbtn_label, li#quest.active a:active .navbtn_label, 
li#pd.active a:focus .navbtn_label, li#pd.active a:hover .navbtn_label, li#pd.active a:active .navbtn_label, 
li#tools.active a:focus .navbtn_label, li#tools.active a:hover .navbtn_label, li#tools.active a:active .navbtn_label,
/* Student View specific additions
li#academics.active a:focus .navbtn_label, li#academics.active a:hover .navbtn_label, li#academics.active a:active .navbtn_label,
li#extras.active a:focus .navbtn_label, li#extras.active a:hover .navbtn_label, li#extras.active a:active .navbtn_label,
li#calendar.active a:focus .navbtn_label, li#calendar.active a:hover .navbtn_label, li#calendar.active a:active .navbtn_label,
li#locker.active a:focus .navbtn_label, li#locker.active a:hover .navbtn_label, li#locker.active a:active .navbtn_label
{ background-color:none; color:#EEF;} 


/* END STYLE the TOP TABS for UX 
*/


/*
* ------------------------------------------------------------------------------------------------- #
*/
/* STYLE the TOP TOOLBARS for UX */

.lms_toolbar_wrapper ul {
margin:0;
}
.lms_toolbar_wrapper ul#lms_nav_schooluserview_control {
float:left;
}
.lms_toolbar_wrapper ul#lms_nav_user_control {
float:right;
}
.lms_toolbar_wrapper ul#lms_subnav_options {
float:left;
}
.lms_toolbar_wrapper ul#lms_subnav_filtersfieldssorts {
float:right;
}

div.lms_toolbar_wrapper li {
margin:0;
margin:0;
padding:0;
font-size:1.1em;
background:none;

border:none;
background:transparent url("../images/mainNavIcons/bggradients/divider_v_lite_trans_dark_200px.png") no-repeat scroll left 12%;

}
div.lms_toolbar_wrapper li a,
div.lms_toolbar_wrapper li a:focus,
div.lms_toolbar_wrapper li a:hover,
div.lms_toolbar_wrapper li a:active {
color:#DDE;
font-weight:normal;
text-decoration:none;

background:transparent url("../images/mainNavIcons/bggradients/divider_v_lite_trans_dark_200px.png") no-repeat scroll right 90%;
}
div.lms_toolbar_wrapper li a:focus,
div.lms_toolbar_wrapper li a:hover,
div.lms_toolbar_wrapper li a:active {
color:#FFF;
}
    
/* END STYLE the TOP TOOLBARS for UX */
/*
* ------------------------------------------------------------------------------------------------- #
*/


#applogo { /* V CENTER with negative margins */
position:absolute;
display:block;
top:50%;
margin-top:-35px; /* neg margin @ half elements px heignt*/
left:5px;
height:60px;
width:170px;
background:transparent url("../images/logo_cognite.png") no-repeat scroll 0 50%;
cursor:default;
}
.apptagline {
position:absolute;
bottom:-4px;
left:0;
width:100%;
padding:0;
color:#556;
font-family:"Times New Roman", Times, serif;
font-size:11px;
text-align: center;
cursor:default;
text-decoration:none;
}


/* END NEW ADDITIONS TO STYLE AS COGNITE APP */
/*
* ------------------------------------------------------------------------------------------------- #
*/


/*
* ------------------------------------------------------------------------------------------------- #
*/
/* TEMP */

/* Design Template Labels: Display the base layout class names and grid */
.gridon .c20l, .gridon .c25l, .gridon .c33l, .gridon .c40l, .gridon .c38l, .gridon .c50l, .gridon .c60l, .gridon .c62l, .gridon .c66l, .gridon .c75l, .gridon .c80l,
.gridon .c20r, .gridon .c25r, .gridon .c33r, .gridon .c40r, .gridon .c38r, .gridon .c50r, .gridon .c60r, .gridon .c66r, .gridon .c62r, .gridon .c75r, .gridon .c80r { outline:1px dashed red; padding:10px 0; background:transparent url("../images/grid_pattern_50x50div10.png") top left no-repeat scroll; opacity:.50; }

.gridon .c20l:after, .gridon .c25l:after, .gridon .c33l:after, .gridon .c40l:after, .gridon .c38l:after, .gridon .c50l:after, .gridon .c60l:after, .gridon .c62l:after, .gridon .c66l:after, .gridon .c75l:after, .gridon .c80l:after,
.gridon .c20r:after, .gridon .c25r:after, .gridon .c33r:after, .gridon .c40r:after, .gridon .c38r:after, .gridon .c50r:after, .gridon .c60r:after, .gridon .c66r:after, .gridon .c62r:after, .gridon .c75r:after, .gridon .c80r:after { content:attr(class); display:block; font-weight:bold; color:#333; }


/* Design Template Labels: Display the subtemplate column widths and grid */
/* NOTE: http://alanhogan.com/tips/css/special-characters-in-generated-content */
/* NOTE: http://www.w3schools.com/TAGS/ref_urlencode.asp */
/* NOTE: http://css-tricks.com/snippets/html/glyphs/ */
/* NOTE: http://css-tricks.com/css-content/ */
.gridon .subcolumns { outline:1px dotted grey; }
.gridon .subcolumns:after { content:attr(class) "."; }
.gridon .subcolumns { margin:10px 0; padding:10px 0; background:transparent url("../images/grid_pattern_50x50div10.png") top left no-repeat scroll; }

.gridon .c25l + .c25r:after                         { content:attr(class) " Columns:""\20""50%L + 25%L + 25%R"; }
.gridon .c50l + .c25r:after                         { content:attr(class) " Columns:""\20""25%L + 50%L + 25%R"; }
.gridon .c75l + .c25r:after                         { content:attr(class) " Columns:""\20""75%L + 25%R"; }
.gridon .c25l + .c25l + .c25r:after                 { content:attr(class) " Columns:""\20""25%L + 25%L + 25%L + 25%R"; }

.gridon .c25l + .c50r:after                         { content:attr(class) " Columns:""\20""25%L + 25%L + 50%R"; }
.gridon .c50l + .c50r:after                         { content:attr(class) " Columns:""\20""50%L + 50%R"; }

.gridon .c25l + .c75r:after                         { content:attr(class) " Columns:""\20""25%L + 75%R"; }

.gridon .c33l + .c33r:after                         { content:attr(class) " Columns:""\20""33%L + 33%L + 33%R"; }

.gridon .c66l + .c33r:after                         { content:attr(class) " Columns:""\20""66%L + 33%R"; }
.gridon .c33l + .c66r:after                         { content:attr(class) " Columns:""\20""33%L + 66%R"; }

.gridon .c38l + .c62r:after                         { content:attr(class) " Columns:""\20""38%L + 62%R"; }
.gridon .c62l + .c38r:after                         { content:attr(class) " Columns:""\20""62%L + 38%R"; }


/* TEMP */
/*
* ------------------------------------------------------------------------------------------------- #
*/



/*
* ------------------------------------------------------------------------------------------------- #
*/
/* TEMP HIDES */

/* TEMP HIDES */
/*
* ------------------------------------------------------------------------------------------------- #
*/

/* END @media all */
/*
* ------------------------------------------------------------------------------------------------- #
*/

/* END FSC DESIGN STYLES */