@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap");
:root{
	--font-1:"Plus Jakarta Sans",sans-serif;
}
*{
	outline: none;
}
body{
	margin: 0;
	overflow-x: hidden;
	background-color: #3A0088;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: var(--font-1);
}
.palindromeBlock{
	background: #eee;
	width: 50vw;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 20px;
	overflow: hidden;
}
.palindromeBlock_head{
	background: #930077;
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	padding: 1rem 0;
}
.palindromeBlock_body{
	flex: 1 1 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.palindromeBlock_input{
	padding: 2.5%;
	border:2px solid #930077;
	font-size: 2rem;
	width: 80%;
	margin: 1rem;
	border-radius: 100px;
	text-align: center;
}
.palindromeBlock_out{
	margin-top: 1rem;
	width: 100%;
	height: 20%;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: var(--font-1);	
	font-weight: bold;
}
.palindromeBlock_out_wrong{
	color: red;
}
.palindromeBlock_out_right{
	color: green;
}
.palindromeBlock_footer{
	background: #930077;
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}
.palindromeBlock_submitBtn{
	cursor: pointer;
	border: none;
	border-radius: 100px;
	min-height: 100%;
	padding: .45rem 1.5rem;
	display: flex;
	align-items: center;
	font-size: 2rem;
	font-weight: 500;
	background-color: #ffffff;
	font-family: var(--font-1);	
}

@media(max-width: 350px){
	.palindromeBlock_head{
		font-size: .6rem;
	}
}
@media(max-width: 767px){
	body{
		align-items: unset;
	}
	.palindromeBlock{
		margin:1rem;
		width: unset;
		height: unset;
	}
	.palindromeBlock_head,.palindromeBlock_footer,.palindromeBlock_body{
		margin: 0;
		width: 100%;
	}
	.palindromeBlock_out{
		font-size: 1.5rem;
	}
}