.robot1{
  opacity: 0;
  transform: translate(-300%,0);
}
.robot1.active{
  transition: all 1s ease;
  display: flex;
  opacity: 1;
  transform: translate(0);
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.robot1.active .text{
  padding: .5rem 2rem;
  border: 3px solid var(--color-1);
  border-radius: 10px;
  background: white;
  padding: 1rem;
  font-size: 1.3rem;
  position: relative;
  transition: all 1s ease;
  transform: translate(700%,0);
  z-index: 1;
  line-height: 2rem;
}
.robot1.active .text:after{
  content: "";
  border: .53rem solid transparent;
  border-left-color: var(--color-1);
  position: absolute;
  right: -1.1rem;
  top: 10%;
}
.level2 .robot1.active .text:after{
  content: "";
  border: .53rem solid transparent;
  border-left-color: var(--color-1);
  position: absolute;
  right: -1.1rem;
  top: 3%;
}
.robot1.active .photo{
  transition: all .7s ease;
  z-index: 2;
}
.robot1.active .photo img{
  width: 10rem;
}
.robot1.active .text.active{
  max-width: unset;
  transform: translate(0);
}
.robot-choose{
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
}
.level1 h2{
  transition: all .7s ease;
  transform: translate(-700%,0);
}
.level1 h2.active{
  transform: translate(0);
}
.robot-choose .levels{
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
}
#btn1,.btns button,.robot-choose .levels .level{
  transition: all .7s ease;
  transform: translate(-1000%,0);
}
#btn1.active,.btns button.active{
  transform: translate(0);
}
.robot-choose .levels .level.active{
  transform: translate(0);
  display: unset;
}

.robot1 .text .photo{
  width: 100%;
  margin: .2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.robot1 .text .photo img{
  width: 100%;
}

@media(max-width: 320px){
  .robot1.active{
    flex-direction: column-reverse;
  }
  .robot1.active .photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .robot1.active .text{
    margin-top: .5rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .robot1.active .text:after,.level2 .robot1.active .text:after{
    content: "";
    border-bottom-color: var(--color-1);
    top: -1.1rem;
    left: 48%;
    border-left-color: transparent;
    right: unset;
  }
  #btn7,#btn10,#btn13,#btn16,#btn19{
    display: none;
  }
  #btn7.active,#btn10.active,#btn13.active,#btn16.active,#btn19.active{
    display: flex;
  }
}
@media(min-width: 321px) and (max-width: 480px){
  .robot1.active{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .box.r3.active .text{
    margin: 0 auto;
  }
  .robot1.active .photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .robot1.active .text{
    margin-top: .5rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .robot1.active .text:after,.level2 .robot1.active .text:after{
    content: "";
    border-bottom-color: var(--color-1);
    top: -1.1rem;
    left: 48%;
    border-left-color: transparent;
    right: unset;
  }
  #btn7,#btn10,#btn13,#btn16,#btn19{
    display: none;
  }
  #btn7.active,#btn10.active,#btn13.active,#btn16.active,#btn19.active{
    display: flex;
  }
}
@media(min-width: 481px) and (max-width: 767px){
  .robot1.active{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .box.r3.active .text{
    margin: 0 auto;
  }
  .robot1.active .photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .robot1.active .text{
    margin-top: .5rem;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  .robot1.active .text:after,.level2 .robot1.active .text:after{
    content: "";
    border-bottom-color: var(--color-1);
    top: -1.1rem;
    left: 48%;
    border-left-color: transparent;
    right: unset;
  }
  #btn7,#btn10,#btn13,#btn16,#btn19{
    display: none;
  }
  #btn7.active,#btn10.active,#btn13.active,#btn16.active,#btn19.active{
    display: flex;
  }
}