.robot1{
  opacity: 0;
  transform: translate(-300%,0);
}
.robot1.active{
  transition: all 1s ease;
  display: flex;
  opacity: 1;
  transform: translate(0);
  justify-content: center;
  align-items: center;
  width: 100%;
}
.robot1.active .text{
  padding: .5rem 2rem;
  border: 3px solid var(--color-1);
  border-radius: 10px;
  background: white;
  padding: 1rem;
  font-size: 1.3rem;
  position: relative;
  transition: all 1s ease;
  transform: translate(200%,0);
  z-index: 1;
}
.robot1.active .text:after{
  content: "";
  border: .7rem solid transparent;
  border-left-color: var(--color-1); 
  position: absolute;
  right: -3%;
  top: 10%;
}
.robot1.active .photo{
  transition: all .7s ease;
  z-index: 2;
}
.robot1.active .photo img{
  width: 20rem;
}
.robot1.active .text.active{
  max-width: unset;
  transform: translate(0);
}